<div id="redes"></div>
<footer class="footer"> 
    <div *ngFor="let red of miPortfolio" >
      <p *ngIf="miPortfolio">{{red.nombre}}</p>
    </div> 
    <div  *ngFor="let red of miPortfolio" class="redes d-flex flex-row flex-wrap align-items-center justify-content-center " >
          <a *ngIf="miPortfolio" class="nav-link" title="GitHub" [href]="red.link"  target="_blank">
            <i class="fa-brands fa-github text-white"></i></a>

          <a *ngIf="miPortfolio" class="nav-link" title="Telegram" [href]="red.link" target="_blank"><i class="fa-brands fa-telegram text-white"></i></a>

          <a *ngIf="miPortfolio" class="nav-link" title="Linkedin" [href]="red.link" target="_blank"
            ><i class="fa-brands fa-linkedin text-white"></i></a> 
    </div>
    <div class="boton-up">
      <a title= "Volver al inicio" (click)="toInicio()"> <i class="fa-regular fa-circle-up text-white fa-2x"></i></a>
    </div>
<!--     <div *ngFor="let red of miPortfolio" >
 -->    <p class="disclaimer">Copyright © Creada por Florencia Fuentes 05/2023</p>
<!--     </div>
 --></footer>