<div id="experiencia"></div>

<section class="experiencia ">
    <div class="container d-flex flex-column ">
        <h2 class="experiencia-title text-center "> Experiencia</h2>
        
        <!-- Formulario de edicion -->
        <div class="d-flex flex-column justify-content-center align-items-center">
            <label class="expe-edicion " for="efexperiencia" >Editar <i class="fa-solid fa-pen"></i></label>
            <input name="efexperiencia" id="efexperiencia" class="form-experiencia" type="checkbox" checked>
            
            <form class="form-edicion" id="experiencia">
                <div class="form-div">
                    <label for="puesto">Nombre del puesto y periodo de tiempo</label>
                    <input type="text" id="puesto" name="puesto" placeholder="Desarrollador web (2018-2021)">
                </div>
                <div class="form-div">
                    <label for="text-area">Descripcion</label>
                    <textarea name="text-area" id="text-area" cols="30" rows="8" placeholder="Labores en las que se desempeñaba" ></textarea>
                </div> 
                <div class="button-aceptar text-center">
                    <input type="submit" value="Aceptar">
                </div>
            </form>
        </div>
        
        <div *ngFor="let experiencia of experienciaLista" class="experiencia-cont row   d-flex justify-content-center">
            <i class="fa-solid fa-shop fa-4x"></i>
            <div class="experiencia-info d-flex flex-column col-12">
                <h3 *ngIf="miPortfolio">{{experiencia.puestoYperiodo}}</h3><br>
                <h5 *ngIf="miPortfolio">{{experiencia.ubicacion}}</h5>
                <p *ngIf="miPortfolio"> {{experiencia.descripcion}}</p>
            </div>
        </div>
        <!-- <div class="experiencia-cont row   d-flex justify-content-center">
            <i class="fa-solid fa-cart-shopping fa-4x"></i>
            <div class="experiencia-info d-flex flex-column col-12">
                <h3>Cajera en supermercado UNO (2010-2015)</h3>
                <h5>Av. Bustillos km 12,700. San Carlos de Bariloche</h5>
                <p><strong> Las labores en que me desarrolle fueron:</strong>
                    <br>Cajera y cobranza de rapi pago
                    <br>Reposición de mercadera
                    <br>Control de vencimientos
                    <br>Sector de fiambreria
                    <br>Descarga de mercaderia y control de pedidos
                </p>
            </div>
        </div>
        <div class="experiencia-cont row   d-flex justify-content-center">
            <i class="fa-solid fa-person-running fa-4x"></i>
            <div class="experiencia-info d-flex flex-column col-12">
                <h3>Instructora de Taekwondo (2017-∞)</h3>
                <h5>Av. Bustillos km 12,000 - Luelmo 43,Club Nahuel Huapi. San Carlos de Bariloche</h5>
                <p>Comencé a entrenar taekwondo en 2011. En ese instante, las ganas que desde muy chica me acompañaron
                    por empezar un arte marcial, se habían transformado en lo que serían mis primeros pasos en este
                    hermoso camino. <br> En el año 2017 luego de seis años de mucho crecimiento tanto personal, como
                    técnico, me presente a el tan ansiado examen para I Dan.<br>El año 2018 culminé con éxito el Curso
                    de formación Integral y comencé a dar clases a mi primer grupo de alumnos. Actualmente formo parte
                    del grupo de instructores EITB-AMASTKD coordinando actividades que requieren una mayor
                    responsabilidad dentro de mi escuela. </p>
            </div>
        </div>
    -->   
    </div>
</section>
