/*Experiencia */
.experiencia {
    min-height: 450px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.fa-solid.fa-shop {
    color: white;
    text-align: center;
    padding: 10px;
    border: rgb(199, 18, 18);
}

.fa-solid.fa-cart-shopping {
    color: white;
    text-align: center;
    padding: 10px;
}

.fa-solid.fa-person-running {
    color: white;
    text-align: center;
    padding: 10px;
}

.experiencia-cont {
    box-shadow: 1.5px 1.1px 1.2px rgba(0, 0, 0, 0.073),
        3.7px 2.7px 2.8px rgba(0, 0, 0, 0.105), 7px 5.1px 5.3px rgba(0, 0, 0, 0.13),
        12.5px 9.2px 9.4px rgba(0, 0, 0, 0.155),
        23.4px 17.1px 17.5px rgba(0, 0, 0, 0.187),
        56px 41px 42px rgba(0, 0, 0, 0.26);
    border-radius: 16px;
    margin: 10px 10px 20px 10px;
    background-color: rgba(30, 143, 255, 0.616);
}

.experiencia-title {
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
        0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    /*   font-family: "Vast Shadow";
   */
}

.experiencia-info {
    margin: 10px 0;
}

.experiencia-info h3 {
    padding: 0 10px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.experiencia-info h5 {
    padding: 0 14px;
    text-align: center;
}

.experiencia-info p {
    padding: 10px;
    font-style: initial;
}



/* cont-top corresponden a los iconos para editar y eliminar los elementos */
.cont-top {
  width: 100%;
  display: flex;
  justify-content: right;
}

.cont-top .edit i{
  color:white;
}

.cont-top .edit {
  width: 35px;
  height: 35px;
  margin: 0 7px;
  font-size: 1.1rem;
  color: var(--almost-white);
  border: 2px solid var(--almost-white);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(5px, 14px);
  transition: all 0.2s ease; 
}

.cont-top .edit:hover {
  transform: translate(5px, 12px);
  background-color: var(--almost-white);
  color: var(--dark-color);
}

.cont-top .plus-button {
  transform: translate(-30px, -14px);
  font-size: 1.5rem;
}

.cont-top .plus-button:hover {
  transform: translate(-30px, -16px);
}













/* Boton Agregar*/
.expe-edicion{
    text-decoration: none;
    max-width: 200px;
    padding:10px;
    margin:20px;
    color:white;
    border-radius:10px;
    background-color: rgba(30, 143, 255, 0.671);
    cursor:pointer;
    transition: all 0.2s ease-in-out
}
.expe-edicion:hover {
  background-color:  rgba(30, 143, 255, 0.411);
  color: white;
}
.expe-edicion i{
  padding: 0px 10px;
}

/* 
.form-experiencia{
    appearance: none;
} */
/* Para ocultar el formulario */
/* .form-experiencia:checked ~ .form-edicion{
  height: 0px;
  display: none;
}

 */
 /* Otro formulario */
 .exp {
    text-decoration: none;
    max-width: 200px;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: rgba(30, 143, 255, 0.671);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
  }
  .exp:hover {
    background-color: rgba(30, 143, 255, 0.555);
    color: white;
  }
  .exp i {
    padding: 0px 10px;
  }
  
 .form-expe-agre {
    appearance: none;
  
  }
  
  /*Para ocultar el formulario */
  .form-expe-agre:checked~.form-expe-agregar {
    height: 0px;
    display: none;
  }

  /* formulario */
.form-expe-agregar {
    box-shadow:
      5px 7.9px 8.4px rgba(0, 0, 0, 0.16),
      40px 63px 67px rgba(0, 0, 0, 0.08);
    padding: 20px;
    background-color: rgba(30, 143, 255, 0.226);
    border-radius: 5px;
    width: 85%;
  }
  
  .form-div {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 16px 0;
  }
  
  .form-div input[type="text"] {
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
  }
  
  #text-area {
    border-radius: 5px;
  }
  
  
  /* Boton eliminar */
.button-eliminar input[type="submit"]{
    margin: 10px;
    padding: 8px 28px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(30, 143, 255, 0.671);
    transition: all 0.2s ease;
    text-align: center;
  
  }
  .button-eliminar input[type="submit"]:hover {
    background-color: rgba(30, 143, 255, 0.411);
    color: white;
  }
 
  
  
  