<div id="experiencia"></div>

<section class="experiencia ">
    <div class="container d-flex flex-column " >
        <h2 class="experiencia-title text-center "> Experiencia</h2>
         <label class="expe-edicion text-center d-flex"  for="efexperiencia" routerLink="/experiencia/new" >Nueva Experiencia<i class="fa-solid fa-plus"></i></label>
          <div *ngFor="let ex of miPortfolio" class=" experiencia-cont row  d-flex justify-content-center">
             <div class="cont-top">
                    <a class="edit" title="Eliminar" (click)="onDelete(ex.id)">
                      <i class="fa-regular fa-trash-can"></i>
                    </a>
                    <a class="edit" title="Editar" routerLink="/experiencia/editar/{{ex.id}}">
                      <i class="fa-solid fa-pen"></i>
                    </a>
             </div>
            <i class="fa-solid fa-shop fa-4x"></i>
            <div class="experiencia-info d-flex flex-column col-12">        
                <h3 *ngIf="miPortfolio">{{ex.puesto}}</h3><br>
                <h5 *ngIf="miPortfolio">{{ex.fecha}}</h5>
                <p *ngIf="miPortfolio" >{{ex.descripcion}}</p>
            </div>
          </div>
    </div>
</section>