<form [formGroup]="formPro" (ngSubmit)="onSubmitProyectos()" class="form-edicion" id="proyecto">

    <div class="form-div">
        <label for="titulo">Edite el título del proyecto : </label>
        <input type="text"  formControlName="titulo" id="title" placeholder="Color game">
    </div>
    <div class="form-div">
        <label for="link">Edite URL del proyecto : </label>
        <input type="text"  formControlName="link" id="url" placeholder="https://graceful-malasada-201f0b.netlify.app/">
    </div>

    <div class="form-div">
        <label for="descripcion">Edite la descripcion del proyecto : </label>
        <textarea  formControlName="descripcion" id="desc-proy-id" cols="30" rows="2"
            placeholder="¿De que se trata tu proyecto?"></textarea>
    </div>
    <div class="button-aceptar text-center">
        <input type="submit" value="Aceptar">
    </div>
</form>