<div id="proyectos"></div>
<!-- DATA BINDING -->
<section class="proyecto">
    <h1 class="pro-title text-center" >Proyectos</h1>
    <div  class="container col-12 col-sm-6 col-ms-4"><!-- le agregue esto y quedo todo junto  -->
      <div *ngFor="let proyectos of proyectosLista" class="card">
          <div class="face face1">
              <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3 *ngIf="miPortfolio">{{proyectos.nombre}}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p *ngIf="miPortfolio">{{proyectos.descripcion}}</p>
                      <a routerLink="https://graceful-malasada-201f0b.netlify.app/" target="_blank">Juegar</a>
              </div>
          </div>
      </div>
 
 
 
 
 
 
 
<!--  <section class="proyecto">
    <h1 class="pro-title text-center" id="proyectos">Proyectos</h1>
    <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Color<br> Game</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Un juego divertido donde el usuario deberá adivinar un color a partir de su código RGB.</p>
                      <a href="https://graceful-malasada-201f0b.netlify.app/" target="_blank">Juegar</a>
              </div>
          </div>
      </div> -->
 <!-- To do list -->
     <!--  <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                  <h3>To do list</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Una lista ordenada de tareas para realizar,utilizando la manipulación del DOM</p>
                      <a href="https://silly-gecko-9fd65b.netlify.app/" target="_blank" >Ver lista</a>
              </div>
          </div>
      </div> -->
<!-- Weather channel-->
      <!-- <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                  <h3>Weather<br> Channel</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Sitio para mostrar las condiciones climaticas de cada ciudad,utilizando API,jQuery,AJAX y JSON</p>
                      <a href="https://superlative-queijadas-b0b14b.netlify.app/"target="_blank">Consultar pronostico</a>
              </div>
          </div>
      </div>
    </div><br>

    <div class="container">
 -->
 <!-- Portfolio Plataforma5-->
<!--       <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Plataforma5</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Implementando los conocimientos en html,css,bootstrap y javascript.</p>
                    <a href="https://gorgeous-seahorse-4ac653.netlify.app/#porfolio"target="_blank">Ver portfolio</a>
            </div>
        </div>
      </div>
 --><!-- Portfolio yoProgramo-->
<!--       <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>YoProgramo</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Portfolio web personal.Cuenta con arquitectura web distribuida.Front End(Angular),Back End(Sprint Boot) y Bases de datos(MySQL)</p>
                    <a href="#"target="_blank">Ver portfolio</a>
            </div>
        </div>
      </div> -->
    </div>
  </section> 