<div id="proyectos"></div>
<!-- DATA BINDING -->
<section class="proyecto">
    <h1 class="pro-title text-center"id="proyectos" >Proyectos</h1>
    <div class="container row">
      <div *ngFor="let proyectos of miPortfolio" class="card col-12 col-md-6 col-lg-4" >
          <div class="face face1">
              <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3 *ngIf="miPortfolio">{{proyectos.titulo}}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p *ngIf="miPortfolio">{{proyectos.descripcion}}</p>
                  <a routerLink={{proyectos.link}} target="_blank">Juegar</a>
              </div>
          </div>
      </div>
    </div>
</section> 
 