<div id="habilidadestecnicas"></div>

<section class="habilidades">
  <h1 class="ski-title text-center" id="habilidadestecnicas">Habilidades Técnicas</h1>
  <div  class="container fondo-ski">
    <div *ngFor="let habilidadesTecnicas of miPortfolio" class="skill">
      <h3 >{{habilidadesTecnicas.nombre}}</h3>
      <h4 >{{habilidadesTecnicas.porcentaje}}</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{habilidadesTecnicas.porcentaje}}%;" aria-valuenow="habilidadesTecnicas" aria-valuemin="0" aria-valuemax="100">{{habilidadesTecnicas.porcentaje}}</div>
    </div>
    </div>
  </div>
</section>        