<div id="educacion"></div>

<section class="edu-sec d-flex flex-column justify-content-center">
    <h2 class="edu-title text-center">Educación</h2>
    <div class="banner-edicion  d-flex flex-column justify-content-center align-items-center">

    <!-- Boton de editar.Quiero centrarlo y aca ya estoy dentro de la clase -->
    <label class="educacion" for="efeducacion" >Editar <i class="fa-solid fa-pen"></i></label>
    <input name="efeducacion" id="efeducacion" class="form-educacion" type="checkbox" checked>
    </div>
    <br/>
    <div class="card-container container-fluid row d-flex justify-content-around align-items-center">
<!--1ºDiploma  -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card ">
          <img   src="./assets/img/cursos/SeProgramar.png" class="card-image" alt="certificadoSeProgramar"/>
          <div class="card-body text-center">
            <p class="card-text">Se Programar</p>
          </div>
        </div>
      </div>
<!--2ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/Plataforma5.jpg"
            class="card-image"
            alt="certificadoPlataforma5"
          />
          <div class="card-body text-center">
            <p class="card-text">Plataforma5</p>
          </div>
          <a
            href="https://www.plataforma5.la/?gclid=Cj0KCQiAyracBhDoARIsACGFcS4xh5JEHIF0-t9HFsIN2oFYbvv04f7Wovg3cAJs0dj4gBFeQHtd-44aAnNZEALw_wcB"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a>
        </div>
      </div>
<!--3ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/MuniPlataforma5.jpg"
            class="card-image"
            alt="certificadoMunibariloche"
          />
          <div class="card-body text-center">
            <p class="card-text">Municipalidad de San Carlos de Bariloche</p>
          </div>
          <a
            href="http://sistemasenlaweb.com.ar/portalweb/cursos"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a
          >
        </div>
      </div>
<!--4ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/Grasshopper.jpg"
            class="card-image"
            alt="certificadoGrasshopper"
          />
          <div class="card-body text-center">
            <p class="card-text">Grasshopper</p>
          </div>
          <a
            href="https://learn.grasshopper.app/"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a
          >
        </div>
      </div>
<!--5ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/Digitaliza.jpg"
            class="card-image"
            alt="certificadoGoogleActivate"
          />
          <div class="card-body text-center">
            <p class="card-text">Google Activate</p>
          </div>
          <a
            href="https://formacionactivate.withgoogle.com/ia"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a
          >
        </div>
      </div>
<!--6ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/CiberSeguridad.jpg"
            class="card-image"
            alt="certificadoGoogleActivate"
          />
          <div class="card-body text-center">
            <p class="card-text">Google Activate</p>
          </div>
          <a
            href="https://formacionactivate.withgoogle.com/ia"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a
          >
        </div>
      </div>

<!--7ºDiploma -->
      <div class="card-1 col-12 col-sm-6 col-md-4">
        <div class="card">
          <img
            src="./assets/img/cursos/Accenture.jpg"
            class="card-image"
            alt="certificadoAccenture"
          />
          <div class="card-body text-center">
            <p class="card-text">Accenture</p>
          </div>
          <a
            href="https://www.accenture.com/ar-es"
            class="card-link btn btn-primary"
            target="_blank"
            >Ver</a
          >
        </div>
      </div>
    </div>
  </section>
        
