<!-- efbanner E=edicion F=Formulario -->
<!-- <i class="fa-solid fa-pen"></i> -->
<div id="inicio"></div>
<section class="banner" id="inicio">
    <div class="banner-edicion  d-flex flex-column justify-content-center align-items-center">
        <!-- boton para editar banner -->
        <label class="ban" for="efbanner" >Editar<i class="fa-solid fa-pen"></i></label>
        <input name="efbanner" id="efbanner" class="form-banner" type="checkbox" checked>
         <h1 *ngIf="miPortfolio" class="text-center intro">{{miPortfolio.banner.nombre}}</h1>
         <br />
         <h2 *ngIf="miPortfolio" class="text-center intro">{{miPortfolio.banner.descripcion}}</h2>
        <!-- Formulario edicion -->
        <form class="form-edicion" id="banner">
            <div class="form-div">
                <label for="Nombre">Nombre y Apellido</label>
                <input type="text" id="Nombre" name="Nombre" placeholder="Federico Lopez">
            </div>
            <div class="form-div">
                <label for="title" >Titulo</label>
                <input type="text" id="title" name="title" placeholder="Desarrollador Full Stack">
            </div>
            <div class="form-div">
                <label for="img-banner">Imagen para el banner</label>
                <input type="text" id="img-banner" name="img-banner" placeholder="Coloca la imagen que desees">
            </div>
            <div class="button-aceptar text-center">
                <input type="submit" value="Aceptar">
            </div>

        </form>
    </div>
</section>
