<!-- efbanner E=edicion F=Formulario -->
<div id="inicio"></div>
<section class="banner" id="inicio">
  <div class="banner-edicion  d-flex flex-column justify-content-center align-items-center"
    *ngFor="let banner of miPortfolio">
    <label class="ban" for="efbanner" routerLink="/banner/editar/{{banner.id}}">Editar<i
        class="fa-solid fa-pen"></i></label>
  </div>
  <div *ngFor="let banner of miPortfolio">
    <img class="banner" *ngIf="miPortfolio" [src]="banner.imagen" alt="">
    <h1 *ngIf="miPortfolio" class="text-center intro">{{banner.nombre}}</h1>
    <h2 *ngIf="miPortfolio" class="text-center intro">{{banner.titulo}}</h2>
  </div>

</section>