body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* color navbar */
.bg-celeste {
  background: rgba(30, 143, 255, 0.411);
}

/* si quiero cambiar el color de la letra del logo arg. con esto,pero tengo que tener en cuenta que se nota el fondo de la imagen del logo */
/* .letra-blanca {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
} */

/* Banner */
.banner {
  background-image: url("../img/FondoBari.jpg");
  /*   opacity: 0.9;
 */
  min-height: 75vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}
/* Nombre mio en el banner*/
h1.intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  padding-top: 15%;
  /* font-weight: bold; */
}
h2.intro {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Foto mia */
.div-profile {
  margin: 0 auto;
}

.div-img-profile {
  /* position: relative; */
  min-height: 150px;
}

/* Acerca de mi */
.div-p p {
  /* margin: 5% 10% auto 35%; */
  margin: 30px 40px;
  font: small-caps 100%/200% serif;
  font-size: 1.2rem;
}

.fotoperfil {
  /* margin: 0px 30px 30px 60px; */
  height: 200px;
  width: 200px;
  padding: 5px;
  /* Si quiero el borde en blanco, descomenta el primer background-color y comenta el 2do. */
  background-color: white;
  /* background-color: rgb(14, 13, 13); */
  /* position: absolute;
  top: -50px;
  left: 32%; */
  transform: translateY(-50px);
}

/*Experiencia */
.experiencia {
  min-height: 450px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.fa-solid.fa-shop {
  color: white;
  text-align: center;
  padding: 10px;
  border: rgb(199, 18, 18);
}
.fa-solid.fa-cart-shopping {
  color: white;
  text-align: center;
  padding: 10px;
}
.fa-solid.fa-person-running {
  color: white;
  text-align: center;
  padding: 10px;
}
.experiencia-cont {
  box-shadow: 1.5px 1.1px 1.2px rgba(0, 0, 0, 0.073),
    3.7px 2.7px 2.8px rgba(0, 0, 0, 0.105), 7px 5.1px 5.3px rgba(0, 0, 0, 0.13),
    12.5px 9.2px 9.4px rgba(0, 0, 0, 0.155),
    23.4px 17.1px 17.5px rgba(0, 0, 0, 0.187),
    56px 41px 42px rgba(0, 0, 0, 0.26);
  border-radius: 16px;
  margin: 10px 10px 20px 10px;
  background-color: rgba(30, 143, 255, 0.616);
}

.experiencia-title {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*   font-family: "Vast Shadow";
 */
}
.experiencia-info {
  margin: 10px 0;
}

.experiencia-info h3 {
  padding: 0 10px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.experiencia-info h5 {
  padding: 0 14px;
  text-align: center;
}

.experiencia-info p {
  padding: 10px;
  font-style: initial;
}

/* card educacion */
.edu-title {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.edu-sec {
  padding: 40px 20px;
}
.card-container {
  padding: 10px;
}
.card-1 {
  min-width: 320px;
  max-width: 380px;
  height: 390px;
  padding: 0;
}
.card {
  margin: 40px 10px;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-image {
  width: 100%;
  height: 270px;
}

.card-body {
  background-color: #efefef;
}

/* Habilidades tecnicas */
.container.fondo-ski {
  box-shadow: 1.5px 1.1px 1.2px rgba(0, 0, 0, 0.073),
    3.7px 2.7px 2.8px rgba(0, 0, 0, 0.105), 7px 5.1px 5.3px rgba(0, 0, 0, 0.13),
    12.5px 9.2px 9.4px rgba(0, 0, 0, 0.155),
    23.4px 17.1px 17.5px rgba(0, 0, 0, 0.187),
    56px 41px 42px rgba(0, 0, 0, 0.26);
  margin-bottom: 20px;
  max-width: 1000px;
  width: 90vw;
  min-width: 300px;
  background: rgba(28, 134, 220, 0.438);
  border-radius: 10px;
  padding: 15px 30px;
}
.ski-title {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container h1 {
  font-family: "Vast Shadow";
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.container .skill {
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  position: relative;
}

.container .skill h3 {
  display: inline-block;
  margin-bottom: 5px;
}

.container .skill h4 {
  float: right;
}

.container .skill .skill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 17px;
  border-radius: 15px;
  background: #48cae4;
}

.container .skill .fill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  height: 17px;
  border-radius: 15px;
  background: #0077b6;
}
.container .skill .pseint {
  animation: html 2s;
  width: 95%;
}
.container .skill .html {
  animation: html 2s;
  width: 85%;
}

.container .skill .css {
  animation: css 2s;
  width: 85%;
}
.container .skill .bootstrap {
  animation: javascript 2s;
  width: 80%;
}
.container .skill .javascript {
  animation: javascript 2s;
  width: 30%;
}

.container .skill .typescript {
  animation: php 2s;
  width: 10%;
}

.container .skill .python {
  animation: react 2s;
  width: 30%;
}
.container .skill .git {
  animation: react 2s;
  width: 10%;
}
.container .skill .github {
  animation: react 2s;
  width: 10%;
}
@keyframes pseint {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes bootstrap {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes javascript {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes typescript {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}

@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes git {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
@keyframes github {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
/* card proyectos */
.pro-title {
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /*  font-family: "Vast Shadow";
  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px; */
}
.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyecto .container {
  max-width: 1050px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proyecto .container .card {
  /*   background-color: #277ef0ad; */ /* color al rededor de la card */
  position: relative;
  cursor: pointer;
}

.proyecto .container .card .face {
  max-width: 300px;
  height: 200px;
  transition: 0.5s;
}

.proyecto .container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.proyecto .container .card:hover .face.face1 {
  background: #277ef0ad;
  transform: translateY(0);
}

.proyecto .container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.proyecto .container .card:hover .face.face1 .content {
  opacity: 1;
}

.proyecto .container .card .face.face1 .content img {
  max-width: 100px;
}

.proyecto .container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.proyecto .container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.proyecto .container .card:hover .face.face2 {
  transform: translateY(0);
}

.proyecto .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.proyecto .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.proyecto .container .card .face.face2 .content a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
}

/* footer */
footer {
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  opacity: 0.9;
  background-image: url("../img/footer2.webp");
  filter: brightness(80%);
  /*   background-image: url("../img/footer.jpg"); */ /* MONTAÑA B/N */
  min-height: 45vh;
  width: 100%;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*MOVIMIENTO ICONOS CUANDO PASO EL MOUSE */
.fa-brands.fa-github:hover {
  --bs-text-opacity: 100%;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}
.fa-brands.fa-telegram:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /*  color: #0088CC !important; */
  transition: all 0.5s ease;
}
.fa-brands.fa-linkedin:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /* color: #0e76a8!important ; */
  transition: all 0.5s ease;
}
.fa-solid.fa-user-lock:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

/* Iconos */
a.nav-link {
  padding: 10px 20px;
}
i.fa-brands {
  font-size: 23px;
}
/* Boton volver arriba */
.boton-up {
  display: flex;
  justify-content: end;
}
.fa-regular.fa-circle-up {
  margin: 5px;
  min-height: 20px;
  /*   width: 94vw;
 */
  display: flex;
  justify-content: end;
  align-items: center;
}
.boton-up a {
  text-decoration: none;
}
/* texto */
footer div p {
  font-family: "Caramel", cursive;
  padding: 20px;
  font-size: 2rem;
  color: white;
}
/* Derechos */
.disclaimer {
  padding: 20px;
  color: white;
}

/* Login */
.login {
  /* BURBUJAS */
  /*       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1077%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1078)'%3e%3c/rect%3e%3cpath d='M404.279%2c617.942C463.876%2c621.211%2c524.152%2c592.763%2c552.046%2c539.995C578.558%2c489.843%2c556.419%2c432.345%2c528.494%2c382.966C499.973%2c332.532%2c462.203%2c280.073%2c404.279%2c278.699C344.712%2c277.286%2c295.874%2c323.432%2c269.422%2c376.822C245.803%2c424.494%2c256.184%2c478.758%2c282.154%2c525.191C308.898%2c573.008%2c349.573%2c614.941%2c404.279%2c617.942' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1144.328%2c506.394C1172.441%2c506.913%2c1192.046%2c481.638%2c1205.606%2c457.006C1218.564%2c433.467%2c1225.662%2c405.69%2c1212.732%2c382.135C1199.382%2c357.814%2c1172.034%2c343.921%2c1144.328%2c345.372C1118.775%2c346.71%2c1099.199%2c366.049%2c1087.301%2c388.703C1076.319%2c409.613%2c1076.55%2c433.558%2c1086.849%2c454.813C1098.881%2c479.644%2c1116.741%2c505.885%2c1144.328%2c506.394' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1416.334%2c551.48C1453.493%2c549.317%2c1485.596%2c526.378%2c1502.817%2c493.379C1518.799%2c462.754%2c1513.568%2c427.187%2c1497.021%2c396.864C1479.61%2c364.959%2c1452.68%2c334.779%2c1416.334%2c334.901C1380.133%2c335.022%2c1355.742%2c366.689%2c1336.578%2c397.401C1315.715%2c430.836%2c1292.343%2c469.576%2c1310.46%2c504.575C1329.478%2c541.316%2c1375.033%2c553.884%2c1416.334%2c551.48' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M269.599%2c235.268C296.263%2c236.014%2c323.094%2c226.262%2c337.233%2c203.644C352.189%2c179.719%2c354.155%2c148.308%2c338.727%2c124.685C324.393%2c102.737%2c295.809%2c99.612%2c269.599%2c100.088C244.481%2c100.544%2c217.833%2c105.711%2c204.686%2c127.118C191.037%2c149.343%2c194.797%2c177.672%2c208.219%2c200.034C221.231%2c221.714%2c244.324%2c234.561%2c269.599%2c235.268' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M57.881%2c525.575C79.002%2c525.522%2c99.825%2c514.989%2c109.071%2c495.999C117.492%2c478.704%2c108.785%2c459.203%2c97.929%2c443.323C88.696%2c429.818%2c74.223%2c421.86%2c57.881%2c421.122C39.934%2c420.311%2c21.21%2c424.592%2c11.035%2c439.398C-0.511%2c456.199%2c-3.492%2c478.346%2c6.244%2c496.257C16.376%2c514.895%2c36.667%2c525.628%2c57.881%2c525.575' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M291.041%2c191.675C321.784%2c193.476%2c355.741%2c186.142%2c370.956%2c159.367C386.052%2c132.801%2c373.42%2c100.934%2c357.385%2c74.924C342.335%2c50.512%2c319.666%2c31.478%2c291.041%2c29.739C259.098%2c27.799%2c224.264%2c37.738%2c209.097%2c65.918C194.436%2c93.157%2c208.961%2c124.95%2c225.849%2c150.867C240.85%2c173.889%2c263.61%2c190.068%2c291.041%2c191.675' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1077'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1078'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
 */

  background-image: url("../img/FondoBari.jpg");
  background-color: var(--shadow-4);
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}

.formulario-login {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */

  /* From https://css.glass */
  background: rgba(238, 239, 247, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3.1px);
  /* color:white; */
  text-align: center;
  width: 40%;
  height: 70%;
  min-width: 400px;
  font-family: rubik, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-label {
  text-align: left;
}
.formulario-login h2 {
  padding: 4%;
  margin: 5px 0;

  /* color:white; */
}
/* Boton enviar */
input[type="submit"] {
  outline: none;
  border: none;
  background-color: #0a7bc7;
  /* color:white; */
  width: 100%;
  margin: 10px;
  padding: 12px;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .formulario-login {
    min-width: 300px;
  }
  .formulario-login h2 {
    font-size: 1.3rem;
    margin: 20px 0;
  }
}
/* @media screen and (max-width: 500px) {
    .proyecto .container {
        display: flex;
        flex-direction: column;
  }  
}  */
