body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* color navbar */
.bg-celeste {
  background: rgba(30, 143, 255, 0.411);
}
/* menu hamburguesa */
/* .navbar-toggler{
  background:rgba(255, 255, 255, 0.39) ;
} */

/* si quiero cambiar el color de la letra del logo arg. con esto,pero tengo que tener en cuenta que se nota el fondo de la imagen del logo */

/* .letra-blanca {
 
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
} */

/* Banner */
.banner {
  background-image: url("../img/FondoBari.jpg"); /* cambie foto */
  /*   opacity: 0.9;
 */
  /* background-image: url("../img/fondo.jpg"); */
  min-height: 75vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}
/* Nombre mio en el banner*/
h1.intro {
  font-family: Georgia, "Times New Roman", Times, serif;

  color: white; /* cambie */
  padding-top: 15%;
  /*  */ /* font-weight: bold; */
}
h2.intro {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Foto mia */
.div-profile {
  position: relative;
  min-height: 300px;
}
/* Acerca de mi */
/* 
#Acercademi{
  font-size: 2rem;
  margin: 5% 10% auto 35%;
  font: small-caps 100%/200% serif;
} 
*/

.div-profile p {
  margin: 5% 10% auto 35%;
  font: small-caps 100%/200% serif;
}
.fotoperfil {
  margin: 0px 30px 30px 60px;
  height: 200px;
  width: 200px;
  padding: 5px;
  /* Si quiero el borde en blanco, descomenta el primer background-color y comenta el 2do. */
  background-color: white;
  /* background-color: rgb(14, 13, 13); */

  position: absolute;
  top: -50px;
}
/*Experiencia */
/* 
.div-experience {  
  min-height: 450px;
  min-width:400px;
 
}
  */
.experiencia {
  min-height: 450px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.fa-solid.fa-shop {
  color: white;
  text-align: center;
  padding: 10px;
  border: rgb(199, 18, 18);
}
.fa-solid.fa-cart-shopping {
  color: white;
  text-align: center;
  padding: 10px;
}
.fa-solid.fa-person-running {
  color: white;
  text-align: center;
  padding: 10px;
}

.experiencia-cont {
  border-radius: 16px;
  margin: 10px 10px 20px 10px;
  background-color: rgba(30, 143, 255, 0.616);
}

.experiencia-title {
  font-family: "Vast Shadow";

  /* font-family: 'Bree Serif', serif; */
  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px;
}

.experiencia-info {
  margin: 10px 0;
}

.experiencia-info h3 {
  padding: 0 10px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.experiencia-info h5 {
  padding: 0 14px;
  text-align: center;
}

.experiencia-info p {
  padding: 10px;
  font-style: initial;
}

/* card  */
.edu-title {
  font-family: "Vast Shadow";

  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px; /* 
  padding: 40px 0; */
}
.edu-sec {
  padding: 40px 20px;
}
.card-container {
  padding: 10px;
}
.card-1 {
  min-width: 320px;
  max-width: 380px;
  height: 390px;
  padding: 0;
}
.card {
  margin: 40px 10px;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-image {
  width: 100%;
  height: 270px;
}

.card-body {
  background-color: #efefef;
}
/* ............................. */

/* Habilidades tecnicas */
.container.fondo-ski {
  width: 1000px;
  background: rgba(28, 134, 220, 0.438);
  border-radius: 10px;
  padding: 15px 30px;
}

.container h1 {
  font-family: "Vast Shadow";

  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.container .skill {
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  position: relative;
}

.container .skill h3 {
  display: inline-block;
  margin-bottom: 5px;
}

.container .skill h4 {
  float: right;
}

.container .skill .skill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 17px;
  border-radius: 15px;
  background: #48cae4;
}

.container .skill .fill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  height: 17px;
  border-radius: 15px;
  background: #0077b6;
}

.container .skill .html {
  animation: html 2s;
  width: 85%;
}

.container .skill .css {
  animation: css 2s;
  width: 85%;
}
.container .skill .bootstrap {
  animation: javascript 2s;
  width: 80%;
}
.container .skill .javascript {
  animation: javascript 2s;
  width: 30%;
}

.container .skill .typescript {
  animation: php 2s;
  width: 10%;
}

.container .skill .python {
  animation: react 2s;
  width: 30%;
}
.container .skill .git {
  animation: react 2s;
  width: 10%;
}
.container .skill .github {
  animation: react 2s;
  width: 10%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes javascript {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes php {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes react {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* card proyectos */
.pro-title {
  font-family: "Vast Shadow";
  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px;
}
.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyecto .container {
  max-width: 1050px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proyecto .container .card {
  /*   background-color: #277ef0ad; */ /* color al rededor de la card */
  position: relative;
  cursor: pointer;
}

.proyecto .container .card .face {
  max-width: 300px;
  height: 200px;
  transition: 0.5s;
}

.proyecto .container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.proyecto .container .card:hover .face.face1 {
  background: #277ef0ad;
  transform: translateY(0);
}

.proyecto .container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.proyecto .container .card:hover .face.face1 .content {
  opacity: 1;
}

.proyecto .container .card .face.face1 .content img {
  max-width: 100px;
}

.proyecto .container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.proyecto .container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.proyecto .container .card:hover .face.face2 {
  transform: translateY(0);
}

.proyecto .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.proyecto .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.proyecto .container .card .face.face2 .content a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
}

/* footer */
footer {
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */

  filter: brightness(80%);
  background-image: url("../img/footer.jpg");
  min-height: 45vh;
  width: 100%;

  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*MOVIMIENTO ICONOS CUANDO PASO EL MOUSE */
.fa-brands.fa-github:hover {
  --bs-text-opacity: 100%;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}
.fa-brands.fa-telegram:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /*  color: #0088CC !important; */
  transition: all 0.5s ease;
}
.fa-brands.fa-linkedin:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /* color: #0e76a8!important ; */
  transition: all 0.5s ease;
}
.fa-solid.fa-user-lock:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}

/* vidrio en el html poner un div con la clase esta q contenga el texto e iconos */
/* .cont-iconos-footer{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  border: 1.5px solid;
  min-width: 2px;
  min-height:2px;
  padding: 2rem;
} */

/* Iconos */
a.nav-link {
  padding: 10px 20px;
}
i.fa-brands {
  font-size: 20px;
}
/* texto */
footer div p {
  font-family: "Caramel", cursive;
  padding: 20px;
  font-size: 2rem;
  color: white;
}
/* Derechos */
.disclaimer {
  padding: 20px;
  color: white;
}

/* Login */
/*
*/
/*
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
*/
/* .nav-login{
  background: rgba(30, 143, 255, 0.103);
} */

.login {
  background-image: url("../img/FondoBari.jpg");
  background-color: var(--shadow-4);
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}

.formulario-login {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */

  /* From https://css.glass */
  background: rgba(238, 239, 247, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);

  text-align: center;
  width: 40%;
  height: 60%;
  font-family: rubik, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formulario-login h2 {
  padding: 5%;
}

input[type="submit"] {
  outline: none;
  border: none;
  background-color: rgba(0, 110, 255, 0.486);

  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* @media screen and (max-width: 400px) {
    .selectorDelContainer {
        display: flex;
        flex-direction: column;
  }  
} */
