body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* color navbar */
.bg-celeste {
  background: rgba(30, 143, 255, 0.411);
}

/* menu hamburguesa */
/* .navbar-toggler{
  background:rgba(255, 255, 255, 0.39) ;
} */

/* si quiero cambiar el color de la letra del logo arg. con esto,pero tengo que tener en cuenta que se nota el fondo de la imagen del logo */

/* .letra-blanca {
 
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
} */

/* Banner */
.banner {
  background-image: url("../img/FondoBari.jpg"); /* cambie foto */
  /*   opacity: 0.9;
 */
  /* background-image: url("../img/fondo.jpg"); */
  min-height: 75vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}
/* Nombre mio en el banner*/
h1.intro {
  font-family: Georgia, "Times New Roman", Times, serif;

  color: white; /* cambie */
  padding-top: 15%;
  /*  */ /* font-weight: bold; */
}
h2.intro {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Foto mia */
.div-profile {
  position: relative;
  min-height: 300px;
}
/* Acerca de mi */
/* 
#Acercademi{
  font-size: 2rem;
  margin: 5% 10% auto 35%;
  font: small-caps 100%/200% serif;
} 
*/

.div-profile p {
  margin: 5% 10% auto 35%;
  font: small-caps 100%/200% serif;
}
.fotoperfil {
  margin: 0px 30px 30px 60px;
  height: 200px;
  width: 200px;
  padding: 5px;
  /* Si quiero el borde en blanco, descomenta el primer background-color y comenta el 2do. */
  background-color: white;
  /* background-color: rgb(14, 13, 13); */

  position: absolute;
  top: -50px;
}
/*Experiencia */
/* 
.div-experience {  
  min-height: 450px;
  min-width:400px;
 
}
  */
.experiencia {
  min-height: 450px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.fa-solid.fa-shop {
  color: white;
  text-align: center;
  padding: 10px;
  border: rgb(199, 18, 18);
}
.fa-solid.fa-cart-shopping {
  color: white;
  text-align: center;
  padding: 10px;
}
.fa-solid.fa-person-running {
  color: white;
  text-align: center;
  padding: 10px;
}

.experiencia-cont {
  border-radius: 16px;
  margin: 10px 10px 20px 10px;
  background-color: rgba(30, 143, 255, 0.616);
}

.experiencia-title {
  font-family: "Vast Shadow";

  /* font-family: 'Bree Serif', serif; */
  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px;
}

.experiencia-info {
  margin: 10px 0;
}

.experiencia-info h3 {
  padding: 0 10px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.experiencia-info h5 {
  padding: 0 14px;
  text-align: center;
}

.experiencia-info p {
  padding: 10px;
  font-style: initial;
}

/* card  */
.edu-title {
  font-family: "Vast Shadow";

  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px; /* 
  padding: 40px 0; */
}
.edu-sec {
  padding: 40px 20px;
}
.card-container {
  padding: 10px;
}
.card-1 {
  min-width: 320px;
  max-width: 380px;
  height: 390px;
  padding: 0;
}
.card {
  margin: 40px 10px;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-image {
  width: 100%;
  height: 270px;
}

.card-body {
  background-color: #efefef;
}
/* ............................. */

/* Habilidades tecnicas */
.container.fondo-ski {
  width: 1000px;
  background: rgba(28, 134, 220, 0.438);
  border-radius: 10px;
  padding: 15px 30px;
}

.container h1 {
  font-family: "Vast Shadow";

  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.container .skill {
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  position: relative;
}

.container .skill h3 {
  display: inline-block;
  margin-bottom: 5px;
}

.container .skill h4 {
  float: right;
}

.container .skill .skill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 17px;
  border-radius: 15px;
  background: #48cae4;
}

.container .skill .fill-bar {
  position: absolute;
  top: 30px;
  left: 0;
  height: 17px;
  border-radius: 15px;
  background: #0077b6;
}

.container .skill .html {
  animation: html 2s;
  width: 85%;
}

.container .skill .css {
  animation: css 2s;
  width: 85%;
}
.container .skill .bootstrap {
  animation: javascript 2s;
  width: 80%;
}
.container .skill .javascript {
  animation: javascript 2s;
  width: 30%;
}

.container .skill .typescript {
  animation: php 2s;
  width: 10%;
}

.container .skill .python {
  animation: react 2s;
  width: 30%;
}
.container .skill .git {
  animation: react 2s;
  width: 10%;
}
.container .skill .github {
  animation: react 2s;
  width: 10%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes javascript {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes php {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes react {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* card proyectos */
.pro-title {
  font-family: "Vast Shadow";
  font-size: 3rem;
  font-weight: 400;
  margin: 40px 0;
  padding: 20px;
}
.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyecto .container {
  max-width: 1050px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proyecto .container .card {
  /*   background-color: #277ef0ad; */ /* color al rededor de la card */
  position: relative;
  cursor: pointer;
}

.proyecto .container .card .face {
  max-width: 300px;
  height: 200px;
  transition: 0.5s;
}

.proyecto .container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.proyecto .container .card:hover .face.face1 {
  background: #277ef0ad;
  transform: translateY(0);
}

.proyecto .container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.proyecto .container .card:hover .face.face1 .content {
  opacity: 1;
}

.proyecto .container .card .face.face1 .content img {
  max-width: 100px;
}

.proyecto .container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.proyecto .container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.proyecto .container .card:hover .face.face2 {
  transform: translateY(0);
}

.proyecto .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.proyecto .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.proyecto .container .card .face.face2 .content a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
}

/* footer */
footer {
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */

  background-image: url("../img/footer2.webp");

  filter: brightness(80%);
  /*   background-image: url("../img/footer.jpg"); */ /* MONTAÑA B/N */
  min-height: 45vh;
  width: 100%;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*MOVIMIENTO ICONOS CUANDO PASO EL MOUSE */
.fa-brands.fa-github:hover {
  --bs-text-opacity: 100%;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}
.fa-brands.fa-telegram:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /*  color: #0088CC !important; */
  transition: all 0.5s ease;
}
.fa-brands.fa-linkedin:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  /* color: #0e76a8!important ; */
  transition: all 0.5s ease;
}
.fa-solid.fa-user-lock:hover {
  --bs-text-opacity: 1;
  transform: scale(1.3, 1.3);
  transition: all 0.5s ease;
}
.fa-regular.fa-circle-up {
  margin: 0;
  min-height: 20px;
  width: 94vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* vidrio en el html poner un div con la clase esta q contenga el texto e iconos */
/* .cont-iconos-footer{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  border: 1.5px solid;
  min-width: 2px;
  min-height:2px;
  padding: 2rem;
} */

/* Iconos */
a.nav-link {
  padding: 10px 20px;
}
i.fa-brands {
  font-size: 20px;
}
/* texto */
footer div p {
  font-family: "Caramel", cursive;
  padding: 20px;
  font-size: 2rem;
  color: white;
}
/* Derechos */
.disclaimer {
  padding: 20px;
  color: white;
}

/* Login */
/*
*/
/*
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
*/
/* .nav-login{
  background: rgba(30, 143, 255, 0.103);
} */

.login {
  /* BURBUJAS */
  /*       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1077%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1078)'%3e%3c/rect%3e%3cpath d='M404.279%2c617.942C463.876%2c621.211%2c524.152%2c592.763%2c552.046%2c539.995C578.558%2c489.843%2c556.419%2c432.345%2c528.494%2c382.966C499.973%2c332.532%2c462.203%2c280.073%2c404.279%2c278.699C344.712%2c277.286%2c295.874%2c323.432%2c269.422%2c376.822C245.803%2c424.494%2c256.184%2c478.758%2c282.154%2c525.191C308.898%2c573.008%2c349.573%2c614.941%2c404.279%2c617.942' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1144.328%2c506.394C1172.441%2c506.913%2c1192.046%2c481.638%2c1205.606%2c457.006C1218.564%2c433.467%2c1225.662%2c405.69%2c1212.732%2c382.135C1199.382%2c357.814%2c1172.034%2c343.921%2c1144.328%2c345.372C1118.775%2c346.71%2c1099.199%2c366.049%2c1087.301%2c388.703C1076.319%2c409.613%2c1076.55%2c433.558%2c1086.849%2c454.813C1098.881%2c479.644%2c1116.741%2c505.885%2c1144.328%2c506.394' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1416.334%2c551.48C1453.493%2c549.317%2c1485.596%2c526.378%2c1502.817%2c493.379C1518.799%2c462.754%2c1513.568%2c427.187%2c1497.021%2c396.864C1479.61%2c364.959%2c1452.68%2c334.779%2c1416.334%2c334.901C1380.133%2c335.022%2c1355.742%2c366.689%2c1336.578%2c397.401C1315.715%2c430.836%2c1292.343%2c469.576%2c1310.46%2c504.575C1329.478%2c541.316%2c1375.033%2c553.884%2c1416.334%2c551.48' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M269.599%2c235.268C296.263%2c236.014%2c323.094%2c226.262%2c337.233%2c203.644C352.189%2c179.719%2c354.155%2c148.308%2c338.727%2c124.685C324.393%2c102.737%2c295.809%2c99.612%2c269.599%2c100.088C244.481%2c100.544%2c217.833%2c105.711%2c204.686%2c127.118C191.037%2c149.343%2c194.797%2c177.672%2c208.219%2c200.034C221.231%2c221.714%2c244.324%2c234.561%2c269.599%2c235.268' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M57.881%2c525.575C79.002%2c525.522%2c99.825%2c514.989%2c109.071%2c495.999C117.492%2c478.704%2c108.785%2c459.203%2c97.929%2c443.323C88.696%2c429.818%2c74.223%2c421.86%2c57.881%2c421.122C39.934%2c420.311%2c21.21%2c424.592%2c11.035%2c439.398C-0.511%2c456.199%2c-3.492%2c478.346%2c6.244%2c496.257C16.376%2c514.895%2c36.667%2c525.628%2c57.881%2c525.575' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M291.041%2c191.675C321.784%2c193.476%2c355.741%2c186.142%2c370.956%2c159.367C386.052%2c132.801%2c373.42%2c100.934%2c357.385%2c74.924C342.335%2c50.512%2c319.666%2c31.478%2c291.041%2c29.739C259.098%2c27.799%2c224.264%2c37.738%2c209.097%2c65.918C194.436%2c93.157%2c208.961%2c124.95%2c225.849%2c150.867C240.85%2c173.889%2c263.61%2c190.068%2c291.041%2c191.675' fill='rgba(244%2c 245%2c 246%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1077'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1078'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
 */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='553' preserveAspectRatio='none' viewBox='0 0 1440 553'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1206%26quot%3b)' fill='none'%3e%3crect width='1440' height='553' x='0' y='0' fill='url(%23SvgjsLinearGradient1207)'%3e%3c/rect%3e%3ccircle r='6.78' cx='442.10999999999996' cy='7.04' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.56' cx='47.82' cy='280.79' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.405' cx='181.855' cy='420.04499999999996' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.43' cx='889.13' cy='91.61000000000001' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.33' cx='565.94' cy='138.37' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='8.99' cx='1041.91' cy='501.89' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.81' cx='264.38' cy='540.78' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.75' cx='91.45' cy='204.05' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.225' cx='241.765' cy='470.315' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='8.375' cx='1267.865' cy='79.145' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.24' cx='987.48' cy='487.78000000000003' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.13' cx='352.17' cy='245.76' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.15' cx='1256.1100000000001' cy='205.86' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.15' cx='1240.23' cy='235.16' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='8.83' cx='1154.3' cy='149.67000000000002' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.815' cx='1209.9450000000002' cy='352.715' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='7.56' cx='659.55' cy='426.52' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='6.92' cx='296.83000000000004' cy='321.49' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='8.305' cx='683.635' cy='451.235' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3ccircle r='5.165' cx='59.355' cy='205.42499999999998' filter='url(%23SvgjsFilter1208)' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/circle%3e%3cpath d='M1260.2 606.7L1268.1 585.7 1277.1 595.8C1278 596.9 1280 597.2 1281.7 596.2 1282.8 594.7 1283.1 592.7 1281.6 591.7L1270.7 578.7 1276.2 562.1 1298.7 589.2C1300.2 590.2 1302.2 590.5 1303.3 589.7 1305 588.1 1305.3 586.1 1303.8 585L1278.8 555.1 1287.9 530 1304.9 555.5 1311.8 525.7 1329.1 545.9 1316.4 582.7C1315.7 582.8 1315.9 583.5 1316 584.1 1316.2 585.4 1317.1 586.5 1318.4 586.9 1319.8 587.3 1321.6 586.3 1322.6 584.8L1334.1 551.5 1345 565.1 1339.5 581.1C1339 581.8 1339.1 582.5 1339.2 583.1 1339.3 583.7 1340.2 584.9 1341.6 585.3 1342.9 585.7 1344.7 584.7 1345.1 583.3L1350 570.7 1364.7 587.5C1365.7 589.3 1367.6 589 1369.4 588 1370.5 587.1 1370.8 585.1 1369.2 583.5L1355 566.5 1368.3 564.1C1370.2 563.8 1371.1 561.6 1370.8 560.4 1370.5 558.5 1369 557.5 1367.1 557.8L1350.1 560.9 1339.2 547.3 1373.2 541.1C1375.1 540.8 1376.1 539.3 1375.7 537.4 1375.5 536.1 1373.9 534.5 1372 534.8L1334.2 541.7 1316.9 521.5 1347 519.2 1325 498.5 1351.5 493.7 1376.3 522.9C1378 524.6 1379.8 524.3 1381 523.4 1382.1 522.5 1382.4 520.5 1381.4 518.8L1358.4 492.4 1375.4 489.3 1386.9 502.2C1387.8 503.9 1389.8 504.2 1391.5 502.6 1392.6 501.7 1392.9 499.7 1391.3 498.1L1382.9 487.9 1405 483.9C1406.9 483.5 1407.9 482 1407.6 480.2S1405.7 477.2 1403.8 477.6L1381.8 481.6 1386 469.1C1386.9 467 1386 465.2 1384.6 464.8 1382.5 463.9 1380.7 464.9 1380.4 466.9L1374.2 483 1357.2 486.1 1369.5 453.3C1369.7 451.3 1368.8 449.5 1367.4 449.1 1365.3 448.2 1363.5 449.2 1363.2 451.2L1350.3 487.4 1323.9 492.2 1337.1 465.1 1308.1 473.6 1317.2 448.5 1355 441.6C1356.8 441.3 1357.8 439.2 1357.5 437.9 1357.2 436 1355.7 435 1353.8 435.3L1319.2 441.7 1325.2 424.9 1342.2 421.8C1344.1 421.5 1345.1 420 1344.8 418.1 1344.6 416.9 1343 415.2 1341.1 415.5L1327.9 418 1335.1 397.1C1336 395 1335 393.2 1333 392.9 1331.7 392.5 1329.8 392.9 1329.5 394.9L1321.6 415.8 1312.6 405.8C1311.8 404.6 1309.8 404.4 1308.6 405.2 1307.5 406.1 1307.1 407.5 1307.2 408.1 1307.3 408.7 1307.4 409.3 1308.2 409.9L1319 422.8 1313.6 439.4 1291 412.3C1289.6 411.3 1287.5 411 1286.4 411.9 1285.3 412.7 1284.9 414.1 1285.1 415.4 1285.2 416 1285.2 416 1286 416.5L1310.9 446.4 1301.9 471.5 1284.8 446 1277.9 475.9 1260.6 455.6 1273.4 418.8C1273.8 417.4 1273.4 415.6 1271.3 414.6 1269.9 414.2 1268.1 415.2 1267.1 416.7L1255.7 450 1244.7 436.4 1250.2 420.5C1251.3 419 1250.3 417.2 1248.2 416.3 1246.8 415.9 1245 416.9 1244 418.3L1239.8 430.8 1225 414C1224 412.2 1222.1 412.6 1220.3 413.6 1219.8 414.3 1219.4 415.7 1219.6 416.3 1219.7 416.9 1219.8 417.6 1220.5 418.1L1234.7 435 1221.5 437.4C1219.6 437.8 1218.7 439.9 1218.9 441.2L1218.9 441.2C1219.2 443 1220.7 444.1 1222.6 443.7L1239.6 440.6 1250.6 454.2 1216.6 460.4C1214.7 460.8 1213.6 462.3 1214 464.2S1215.8 467.1 1217.7 466.7L1255.5 459.8 1272.9 480.1 1242.7 482.3 1264.7 503 1238.3 507.9 1213.4 478.6C1211.8 476.9 1209.9 477.3 1208.7 478.1 1207.6 479 1207.3 481 1208.3 482.8L1230.7 509.3 1214.3 512.3 1202.9 499.4C1201.9 497.6 1199.9 497.3 1198.2 498.9 1197.1 499.8 1196.8 501.8 1197.8 503.6L1206.8 513.6 1184.7 517.7C1182.9 518 1181.8 519.5 1182.2 521.4S1184 524.3 1185.9 524L1207.9 519.9 1203.7 532.4C1203.2 533.2 1203.3 533.8 1203.4 534.4 1203.7 535.7 1204.4 536.2 1205.1 536.7 1207.3 537.6 1209 536.6 1209.3 534.6L1215.5 518.6 1232.5 515.4 1220.3 548.3C1220.4 548.9 1220.5 549.5 1220.6 550.1 1220.8 551.4 1221.6 551.9 1222.3 552.4 1224.5 553.3 1226.2 552.4 1226.5 550.4L1239.4 514.2 1265.9 509.3 1252.6 536.5 1281.6 527.9 1272.5 553 1234.8 559.9C1232.9 560.3 1232 562.4 1232.2 563.6 1232.5 565.5 1234 566.6 1235.9 566.2L1269.9 560 1264.5 576.6 1247.5 579.7C1245.6 580.1 1244.6 581.5 1244.9 583.4S1246.8 586.3 1248.7 586L1261.9 583.6 1254.6 604.4C1254.1 605.2 1254.2 605.8 1254.3 606.4 1254.5 607.1 1255.3 608.2 1256.7 608.6 1258.1 609 1260 608.7 1260.2 606.7ZM1264.4 526.5L1275.3 504.3 1257.3 487.5 1282.3 485.5 1287.7 461.7 1301.8 481.9 1325.3 475 1314.4 497.2 1332.4 514.1 1308 515.9 1302 539.8 1288.5 519.5 1264.4 526.5Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M1347.5 257.4L1363.3 229.6 1374.6 226.7 1369.3 236.1C1368.4 236.9 1369 238.1 1369.8 238.9 1370.7 239.2 1372.1 238.9 1372.4 238.1L1380 225.3 1391 222.2 1387.9 233.2 1374.9 240.6C1374.9 240.6 1374.7 240.9 1374.7 240.9 1374.1 241.5 1374.1 242.6 1374.4 243.4 1375.2 244.3 1376.1 244.6 1377.2 244L1386.5 238.6 1383.4 249.6 1356.1 265.8C1356.1 265.8 1355.5 265.8 1355.5 265.8 1354.9 266.4 1354.9 267.5 1355.2 268.4 1355.8 269.5 1357.2 269.8 1358 268.9L1382 255 1378.7 268.6 1368 274.9C1368 274.9 1368 274.9 1367.7 275.1 1367.1 275.7 1366.8 276.6 1367.1 277.4 1368 278.2 1369.1 278.8 1370.2 278.2L1377.3 274 1374.8 283.9C1374.2 285 1375.1 285.9 1375.9 286.1 1377 286.7 1378.2 286.1 1378.5 284.7L1381.3 275.1 1385 282.2C1385.8 283 1386.9 283.6 1387.8 282.7 1388.9 282.1 1389.2 281.3 1388.6 280.2L1382.4 269.4 1386 256.1 1400.2 280.4C1400.5 281.3 1401.9 281.5 1403.1 281 1403.6 280.4 1404.2 279.3 1403.6 278.1L1387.4 250.8 1390.5 239.7 1395.9 249C1396.5 250.2 1397.6 250.2 1398.7 249.6 1399.6 249.3 1399.8 247.9 1399.6 247L1391.9 234.3 1394.7 223 1402.9 231.2 1403 245.9C1403 247 1403.8 247.9 1404.9 247.9 1405.8 248.2 1406.9 247 1406.9 245.9L1406.9 235.1 1415.1 243.3 1414.9 275.3C1414.9 276.4 1415.8 277.3 1416.9 277.3 1418 277.3 1418.9 276.4 1418.9 275.3L1419.1 247.3 1428.7 256.9 1428.8 269.3C1428.8 270.4 1429.6 271.3 1430.7 271.3 1431.9 271.3 1432.7 270.4 1432.7 269.3L1433 261.1 1440.1 268.1C1440.9 269 1442 269 1442.9 268.1 1443.7 267.3 1443.7 266.2 1442.9 265.3L1435.8 258.3 1443.7 258.2C1444.8 258.2 1445.7 257.4 1445.7 256.2S1444.8 254.3 1443.7 254.3L1431.8 254.3 1421.9 244.4 1449.6 244.4C1450.7 244.4 1451.6 243.5 1451.6 242.4 1451.6 241.2 1450.7 240.4 1449.6 240.4L1417.9 240.5 1409.7 232.3 1420.5 232.3C1421.6 232.3 1422.4 231.4 1422.4 230.3 1422.4 229.2 1421.6 228.3 1420.4 228.3L1405.7 228.4 1397.8 220.5 1408.5 217.6 1421.6 224.9C1422.4 225.2 1423.8 224.9 1424.1 224.1 1424.7 222.9 1424.4 222.1 1423.5 221.2L1414.2 215.9 1424.9 213 1452.7 228.8C1453.8 229.4 1454.7 229.1 1455.5 228.2 1456.1 227.1 1455.5 226 1454.9 225.4L1430.6 211.3 1444.1 207.9 1454.6 213.8C1455.5 214.6 1456.6 214.1 1457.5 213.2 1457.7 212.4 1457.4 211 1456.3 210.4L1449.5 206.5 1459.1 203.6C1460.3 203.6 1460.8 202.5 1460.5 201.1 1460.2 200.2 1459.1 199.6 1458.3 199.9L1448.4 202.5 1452.6 195.4C1453.2 194.3 1452.6 193.2 1451.7 192.9 1450.9 192 1450 192.3 1449.5 192.9 1449.2 193.2 1449.2 193.2 1448.9 193.4L1443 203.9 1429.4 207.4 1443.2 183.3C1444.1 182.4 1443.5 181.3 1442.7 180.5 1441.8 180.2 1441 180.5 1440.4 181 1440.1 181.3 1440.1 181.3 1440.1 181.3L1423.8 209.1 1413 211.9 1418.4 202.6C1419 201.5 1418.7 200.6 1417.8 199.8 1417 199.5 1415.8 199.5 1415.3 200 1415 200.3 1415 200.3 1414.7 200.6L1407.4 213.6 1396.6 216.5 1399.4 205.7 1412.2 198.1C1413.3 197.5 1413.6 196.1 1413.3 195.2 1412.4 194.4 1411.3 193.8 1410.4 194.7L1401.1 200.1 1403.6 189 1431.6 172.8C1432.4 172.6 1432.7 171.1 1432.4 170.3 1431.6 169.5 1430.5 168.9 1429.3 169.5L1405.3 183.4 1409 170.1 1419.4 164.1C1420.5 163.5 1420.8 162.1 1420 161.3 1419.7 160.4 1418.6 159.9 1417.4 160.4L1410.4 164.7 1412.9 154.8C1413.2 154 1412.6 152.8 1411.5 152.3 1410.9 152.3 1410 152.5 1409.5 153.1 1409.5 153.1 1409.2 153.4 1408.9 153.7L1406.4 163.6 1402.1 156.5C1401.9 155.7 1400.4 155.4 1399.6 155.7 1399.3 156 1399.3 156 1399.3 156 1398.5 156.8 1398.5 158 1399 158.5L1405 169 1401.6 182.5 1387.4 158.3C1386.6 157.4 1385.7 157.1 1384.6 157.7 1384.6 157.7 1384.3 158 1384.3 158 1383.8 158.6 1383.5 159.4 1384 160.5L1400 188.2 1397.2 199 1391.8 189.6C1390.9 188.8 1389.8 188.2 1388.9 189.1 1388.7 188.8 1388.4 189.1 1388.4 189.1 1387.8 189.7 1387.8 190.8 1388.1 191.6L1395.8 204.3 1392.7 215.4 1384.7 207.5 1384.7 192.8C1384.7 191.6 1383.6 190.5 1382.4 190.5 1381.6 190.8 1380.7 191.7 1380.5 192.5L1380.8 203.5 1372.5 195.4 1372.5 163.7C1372.5 162.5 1371.6 161.7 1370.5 161.7 1369.3 161.7 1368.5 162.6 1368.5 163.7L1368.6 191.4 1358.6 181.5 1358.6 169.7C1358.6 168.5 1357.8 167.7 1356.6 167.7S1354.7 168.5 1354.7 169.7L1354.7 177.6 1347.6 170.5C1346.7 169.7 1345.6 169.7 1344.8 170.5 1343.9 171.4 1343.9 172.5 1344.8 173.4L1351.9 180.4 1343.7 180.7C1343.1 180.7 1342.5 180.7 1342.2 181 1342 181.3 1341.7 182.2 1341.7 182.7 1341.7 183.8 1342.5 184.7 1343.7 184.7L1355.8 184.4 1365.8 194.2 1337.8 194.6C1337.2 194.6 1336.6 194.6 1336.3 194.9 1336.1 195.2 1335.8 196 1335.8 196.6 1335.8 197.7 1336.6 198.6 1337.8 198.6L1369.7 198.2 1378 206.4 1366.9 206.1C1366.4 206.1 1365.8 206.7 1365.5 207 1365.2 207.3 1364.9 207.5 1364.9 208.1 1364.9 209.2 1366.1 210.4 1366.9 210.1L1381.9 210.3 1389.9 218.2 1378.8 221.4 1366.1 213.8C1365.2 213.5 1364.1 213.5 1363.5 214.1 1363.3 214.3 1363.3 214.3 1363.5 214.6 1362.7 215.5 1363 216.9 1364.1 217.4L1373.5 222.8 1362.5 225.9 1334.7 209.6C1333.8 209.3 1333 209.6 1332.4 210.2 1332.1 210.5 1332.1 210.5 1332.1 210.5 1331.6 211.6 1331.6 212.7 1332.7 213.3L1357.1 227.4 1343.5 230.8 1333 224.9C1331.9 224.3 1331.1 224.6 1330.5 225.2 1330.5 225.2 1330.2 225.5 1330.2 225.5 1329.6 226.6 1330.2 227.7 1330.8 228.3L1338.1 232.2 1328.3 234.8C1328 235.1 1327.7 235.4 1327.4 235.6 1327.1 235.9 1326.8 236.8 1326.8 237.3 1327.4 238.5 1328.3 239.3 1329.4 238.8L1339.3 236.2 1335.1 243.3C1334.5 244.4 1335.1 245.5 1335.6 246.1 1336.8 246.7 1337.9 246.1 1338.7 245.2L1344.7 234.8 1357.9 231 1344.1 255.1C1343.6 256.3 1343.9 257.7 1344.7 257.9 1345.9 258.5 1347 258.5 1347.5 257.4Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M109.3 489.7L119 495.3 113.3 498.9C112.6 499.2 112.3 500.2 112.7 501.1 113.3 501.8 114.3 502.1 114.9 501.4L122.2 497.2 129.9 501.2 114.7 510.1C114.1 510.7 113.8 511.7 114.1 512.3 114.7 513.3 115.7 513.6 116.3 512.9L133.2 503.1 144.8 509.6 130.8 515.9 145 521.8 133.5 528.7 116.4 519.3C116.4 519 116.1 519 115.8 519 115.1 519 114.5 519.3 114.2 520 113.9 520.6 114.2 521.6 114.9 522.2L130.4 530.6 122.7 534.9 115.3 530.9C115 530.5 114.7 530.5 114.4 530.5 114 530.6 113.4 530.9 113.1 531.5 112.8 532.2 113.1 533.1 113.8 533.4L119.6 536.9 110 542.8C109.1 543.1 109.1 544.1 109.4 545 109.8 545.7 110.7 546 111.7 545.3L121.2 539.7 121.3 546.4C121.3 547.4 122.3 548 122.9 548 123.9 548 124.5 547.4 124.5 546.4L124.4 537.8 132 533.5 132.2 550.8C132.3 551.7 132.9 552.4 133.9 552.3 134.5 552.3 135.5 551.7 135.4 550.7L135.2 531.5 146.6 524.6 145.2 539.7 157.2 530.6 157.4 544 140.9 553.8C140 554.5 140 555.5 140.3 556.1 140.7 556.7 141.6 557 142.6 556.7L157.5 547.5 157.6 556.2 150.3 560.8C149.4 561.1 149 562.1 149.7 563 150 563.6 151 563.9 151.9 563.3L157.7 560 157.8 571.2C157.8 572.2 158.5 572.8 159.4 572.8S161 572.1 161 571.2L160.9 560 166.7 563.1C167.6 563.7 168.6 563.4 168.9 562.7 169.5 561.8 169.2 560.8 168.2 560.5L160.8 556.1 160.7 547.5 175.8 556.2C176.8 556.5 177.8 556.2 178.1 555.6 178.7 554.6 178.4 553.6 177.4 553.3L160.6 544 160.4 530.5 172.7 539.3 170.9 524.3 182.5 530.9 182.8 550C182.8 551 183.8 551.6 184.4 551.6 185.4 551.6 186 551 186 550L185.7 532.4 193.5 536.8 193.6 545.4C193.6 546.4 194.3 547 195.2 547 195.9 547 196.8 546.3 196.8 545.4L196.7 538.6 206.4 544C207.4 544.6 208.3 544.2 208.6 543.3 208.9 542.6 208.9 541.7 208 541.4L198.3 535.7 204 532.1C204.6 531.8 204.9 530.8 204.6 530.2 204.3 529.6 203.6 529.3 203.3 529.3 203 529.3 202.7 529.3 202.3 529.6L195 533.9 187.3 529.8 202.5 521C203.2 520.3 203.5 519.3 203.2 518.7 202.8 518.1 202.2 517.8 201.5 517.8 201.2 517.8 201.2 517.8 200.9 518.1L184.1 527.9 172.5 521.4 186.5 515.1 172.3 509.2 183.7 502.4 200.8 511.7C201.5 512 202.4 512 203 511 203.4 510.4 203 509.4 202.4 508.8L186.9 500.4 194.5 496.1 201.9 500.2C202.6 500.8 203.5 500.5 204.2 499.5 204.5 498.9 204.1 497.9 203.5 497.3L197.7 494.1 207.2 488.3C208.2 487.9 208.1 487 207.8 486 207.5 485.7 206.8 485.4 206.5 485.4 206.2 485.4 205.9 485.4 205.6 485.7L196 491.3 195.9 484.6C195.9 483.6 195 483 194.3 483L194.3 483C193.4 483 192.7 483.7 192.7 484.6L192.9 493.3 185.2 497.5 185 480.2C185 479.3 184.3 478.7 183.4 478.7S181.8 479.3 181.8 480.3L182.1 499.5 170.7 506.4 172 491.3 160 500.4 159.8 487 176.3 477.2C177.3 476.5 177.3 475.6 176.9 474.9 176.6 474.3 175.6 474 174.7 474.3L159.8 483.2 159.6 474.9 166.9 470.3C167.9 469.9 168.2 469 167.5 468 167.2 467.4 166.2 467.1 165.3 467.4L159.6 471 159.4 459.8C159.4 458.9 158.8 458.2 157.8 458.2S156.2 458.9 156.2 459.9L156.4 471.1 150.6 467.9C150.3 467.6 149.9 467.6 149.6 467.6 149 467.6 148.7 468 148.3 468.3 147.7 469.3 148.1 470.2 149 470.5L156.4 474.9 156.6 483.5 141.4 474.8C141.1 474.8 140.8 474.8 140.4 474.8 139.8 474.8 139.5 475.1 139.2 475.5 138.5 476.4 138.9 477.4 139.8 477.7L156.6 487.1 156.8 500.5 144.5 491.7 146.3 506.7 134.7 500.2 134.4 481C134.4 480 133.5 479.4 132.8 479.4 131.9 479.4 131.2 480.1 131.2 481L131.5 498.3 123.8 494.2 123.6 485.6C123.6 484.6 123 484 122 484S120.4 484.7 120.4 485.7L120.5 492.4 110.9 487.1C110.5 486.8 110.2 486.8 109.9 486.8 109.6 486.8 108.9 487.1 108.6 487.7 108.3 488.4 108.3 489.3 109.3 489.7ZM148.5 498.4L158.5 505.6 168.3 498.1 167.2 510.6 178.5 515.2 167.3 520.5 168.8 532.6 158.8 525.4 149 532.9 150.1 520.8 138.8 515.8 149.9 510.8 148.5 498.4Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M741.7 268.7L762.1 219.7 806 202 799.4 248.9 756.8 280.6C756.8 280.6 756.4 281.1 756.4 281.1 755.6 282.1 755.8 283.9 756.4 285.2 757.6 286.8 759.9 287 761 285.5L798.2 257.7 795.1 280.4 778.8 292.9C778.8 292.9 778.4 293.4 778.4 293.4 777.6 294.4 777.9 296.2 778.5 297.5 779.6 299.2 781.9 299.4 783.1 297.8L794.4 289.6 791.9 306.3C791.6 307.7 793.2 309.8 794.6 310.1 796.5 310.8 798.1 308.8 798.4 307.4L800.9 290.6 809.1 301.9C810.2 303.6 812.5 303.8 813.7 302.3 815.4 301.2 815.6 298.9 814.1 297.7L801.6 281.4 805.2 259.1 833 296.3C834.2 298 836.5 298.1 837.6 296.6 839.3 295.5 839.5 293.2 838 292L806.3 249.4 812.9 202.5 850.7 232.1 857.2 285.1C857.4 286.9 858.9 288.1 860.7 287.9 862.5 287.6 863.7 286.1 863.5 284.3L857.8 237.6 875.9 251.8 878.3 271.6C878.6 273.4 880.1 274.5 881.9 274.3 883.7 274.1 884.8 272.6 884.6 270.8L883 257.3 897.1 268.3C898.2 270 900.4 269.3 901.6 267.8 902.8 266.3 902.5 264.5 901 263.3L887.9 253.1 901.4 251.4C903.2 251.2 904.4 249.7 904.2 247.9S902.4 244.9 900.6 245.1L880.9 247.5 862.7 233.4 909.4 227.6C911.2 227.4 912.4 225.9 912.2 224.1 912 222.3 910.4 221.1 908.6 221.3L855.6 227.8 818.3 198.7 862.2 181 909.8 201.1C911.7 201.8 913.4 200.7 914.6 199.2 915.3 197.3 914.1 195.6 912.6 194.4L869.8 176.4 891.1 167.9 909.9 176C911.8 176.7 913.5 175.6 914.7 174.1 915.4 172.2 914.3 170.5 913.2 169.7L900.3 164.4 915.9 158C917.2 157.4 918.8 155.3 917.7 153.7 916.5 152 915 150.8 913.3 151.9L897.7 158.4 903 145.4C903.6 143.5 902.5 141.8 901.5 141 900.1 140.8 898.3 141 897.5 142 897.5 142 897.1 142.5 897.1 142.5L889 161.3 867.7 169.8 885.7 127C886.3 125.1 885.2 123.4 884.2 122.7 882.8 122.4 881 122.6 880.2 123.6 880.2 123.6 879.8 124.1 879.8 124.1L859.4 173.1 815.5 190.8 822.1 144 864.7 112.3C866.4 111.2 866.6 108.9 865.1 107.7 863.9 106 861.6 105.8 860.4 107.3L823.3 135.1 826.4 112.4 842.7 99.9C844.4 98.8 844.5 96.5 843 95.3 841.9 93.7 839.6 93.5 838.4 95L827.1 103.2 829.6 86.5C829.9 85.1 828.3 83 826.9 82.7 825.5 82.4 824.2 83.1 823.4 84.1 823 84.6 822.6 85.1 822.7 86L820.2 102.7 812 91.4C810.9 89.7 808.6 89.5 807.4 91 807.4 91 807 91.6 807 91.6 806.2 92.6 806.4 94.4 807 95.7L819.5 111.9 816.4 134.6 788.6 97.5C787.4 95.8 785.1 95.6 784 97.1 784 97.1 783.6 97.6 783.6 97.6 782.8 98.6 783 100.4 783.6 101.7L815.3 144.3 808.7 191.2 771.4 162 764.9 109C764.7 107.2 763.2 106.1 761.4 106.3 759.6 106.5 758.4 108 758.6 109.8L763.9 156.1 745.7 141.9 743.3 122.2C743 120.4 741.5 119.2 739.7 119.4S736.8 121.2 737 122.9L738.6 136.4 725.5 126.2C724 125 722.2 125.2 721 126.7 719.8 128.2 720.1 130 721.6 131.2L734.7 141.5 721.2 143.1C720.3 143.2 719.4 143.3 718.6 144.3S718 146.3 718.1 147.2C718.3 149 719.8 150.1 721.6 149.9L741.4 147.5 759.5 161.7 712.8 167.4C711.9 167.5 711 167.6 710.2 168.6 709.8 169.1 709.5 170.5 709.7 171.4 709.9 173.2 711.4 174.4 713.2 174.2L766.2 167.7 803.5 196.8 759.6 214.5 710.6 194.1C709.2 193.8 707.4 194.1 706.6 195.1 706.6 195.1 706.2 195.6 706.2 195.6 705.6 197.5 706.7 199.2 707.7 200L750.5 218 729.2 226.5 710.4 218.3C709 218 707.2 218.2 706.4 219.3 706.4 219.3 706 219.8 706 219.8 705.3 221.7 706.5 223.4 707.5 224.1L720.4 229.4 704.8 235.9C704.4 236.4 703.5 236.5 703.1 237 702.3 238 702 239.4 702.7 240.7 703.8 242.4 705.3 243.6 707 242.4L722.6 236 717.3 248.9C716.7 250.8 717.8 252.5 718.8 253.3 720.7 254 722.4 252.9 723.2 251.9L731.4 233.1 752.6 224.5 734.6 267.3C734 269.2 735.1 270.9 736.1 271.7 738.8 271.4 741 270.6 741.7 268.7Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M1132.6 177L1140.6 170.9 1141.7 177.5C1141.7 178.3 1142.5 178.9 1143.5 179 1144.4 178.6 1145 177.9 1145 177.2L1143.7 168.3 1151.2 162.7 1153.6 180.6C1153.8 181.8 1154.6 182.4 1155.4 182.1 1156.4 182.1 1157.1 181.4 1156.8 180.3L1154.1 160.5 1160.8 155.3 1178.9 162.6 1180 170 1163.1 182.8C1162.9 183.1 1162.8 183.4 1162.7 183.7 1162.6 184 1162.6 184.7 1162.8 185.1 1163.4 186.1 1164.5 186.1 1165.1 185.3L1180.6 173.7 1181.7 182.8 1174 189C1173.7 188.8 1173.6 189.1 1173.5 189.4 1173.2 190 1173.3 190.7 1173.8 191.3 1174.2 191.8 1175.2 191.9 1176.1 191.5L1182.3 186.5 1183.9 197.8C1183.9 198.5 1184.7 199.2 1185.7 199.3 1186.5 198.9 1187.2 198.1 1187.2 197.4L1185.6 186.8 1191.8 189.3C1192.7 189.7 1193.7 189 1193.9 188.4 1194.3 187.5 1194 186.4 1193.2 186L1185.2 182.8 1184 173.7 1200.6 180.4C1201.5 180.8 1202.3 180.5 1202.7 179.6 1203.1 178.7 1202.7 177.8 1201.8 177.5L1183.4 170 1182.1 162.2 1197.7 150.2 1204.5 153 1207.4 173.2C1207.3 174.2 1208.4 175 1209.2 174.6 1210.2 174.7 1210.6 173.8 1210.6 172.8L1208.1 154.5 1216.7 158 1217.8 167.1C1217.9 167.8 1218.9 168.5 1219.6 168.5S1221.1 167.4 1221.2 166.4L1220.2 159.4 1230.6 163.6C1231.5 164 1232.5 163.3 1232.8 162.4 1233.1 161.8 1232.8 160.7 1231.9 160.4L1221.6 156.1 1227.2 151.5C1227.8 151.1 1228.1 150.2 1227.5 149.2 1227 148.7 1225.7 148.5 1225.2 149L1218 154.7 1209.4 151.2 1224 139.9C1224.7 139.1 1225 138.2 1224.4 137.3 1223.9 136.7 1222.6 136.5 1222.1 137L1205.8 149.7 1199 147 1196.2 127.5 1202.6 122.9 1221 130.3C1221.9 130.7 1222.7 130.4 1223.1 129.5 1223.4 128.6 1223.2 127.4 1222.3 127.1L1205.7 120.3 1212.9 114.6 1220.9 117.9C1221.8 118.2 1222.6 117.9 1223 117 1223.3 116.1 1223 115.3 1222.1 114.9L1215.9 112.4 1224.4 105.8C1224.9 105.4 1225.1 104 1224.7 103.5 1223.9 102.8 1223 102.5 1222.3 103.3L1213.4 110 1212.4 102.3C1212 101.5 1211.2 100.8 1210.5 100.9 1209.8 100.9 1209.3 101.4 1209 102 1209 102 1208.9 102.3 1209.1 102.7L1210.3 112.5 1203.1 118.2 1200.2 99.1C1200.3 98.1 1199.5 97.4 1198.4 97.7 1197.9 97.8 1197.5 98 1197.3 98.6 1197.2 98.9 1197 99.2 1196.9 99.5L1200.1 120.5 1194.2 125 1176.1 117.6 1175 109.2 1190.7 97C1191.7 96.3 1191.7 95.3 1191 94.6 1190.6 93.8 1189.6 93.7 1188.6 94.4L1174.4 105.5 1173 96.3 1180 90.9C1180.6 90.4 1180.6 89.4 1180.3 88.6 1179.5 87.9 1178.6 87.6 1178 88.3L1172.5 92.3 1171.1 82.4C1171.1 81.4 1170.2 81 1169.2 81 1168.8 81.1 1168.3 81.6 1168 82.2 1168 82.2 1167.9 82.5 1167.8 82.8L1169.3 93.4 1161.9 90.4C1161.3 90.2 1160.2 90.4 1159.8 91.3 1159.5 92.2 1160.1 93.2 1160.7 93.4L1169.9 97.1 1171.3 106.4 1153.3 99C1152.4 98.6 1151.4 99.3 1151 100.2S1151 101.9 1151.9 102.3L1171.8 110.3 1172.8 118 1157.2 130 1149.5 126.8 1146.8 106.4C1146.4 105.6 1145.7 104.9 1144.7 104.8 1144.2 105 1143.7 105.5 1143.5 106.1 1143.3 106.4 1143.2 106.7 1143.4 107.1L1146 125.4 1137.4 121.9 1135.9 112.7C1135.9 112 1135.1 111.3 1134.1 111.2 1133.3 111.6 1132.6 112.4 1132.7 113.1L1133.8 120.5 1124.3 116.6C1123.7 116.4 1122.5 116.9 1122.2 117.5 1121.9 118.4 1122.4 119.6 1123 119.9L1132.5 123.7 1126.6 127.9C1126.5 128.2 1126.4 128.5 1126.3 128.8 1126 129.4 1126.1 130.1 1126.3 130.5 1127 131.2 1128 131.2 1128.9 130.9L1136 125.2 1144.6 128.7 1130 140C1129.1 140.6 1129 141.6 1129.5 142.2 1130.1 143.1 1131.1 143.2 1132 142.8L1148.2 130.1 1155.9 133.2 1158.7 152.7 1152.6 157.5 1132.8 149.4C1131.9 149 1131 149.4 1130.7 150.3 1130.3 151.2 1130.7 152 1131.6 152.4L1149.6 159.7 1142.2 165.3 1133 161.6C1132.4 161.3 1131.1 161.9 1130.8 162.7 1130.4 163.6 1131.1 164.6 1131.7 164.8L1139.1 167.8 1130.5 174.4C1130.4 174.7 1130.4 174.7 1130.3 175 1130.1 175.6 1130.1 176.3 1130.3 176.7 1131.1 177.4 1132.1 177.4 1132.6 177ZM1159.5 134.7L1159.3 132.5 1160.8 131.4 1173.4 121.7 1174.9 120.6 1176.7 121.3 1191.2 127.2 1193 127.9 1193.2 129.8 1195.5 145.5 1195.8 147.4 1194.1 148.8 1181.7 158.2 1180.1 159.6 1178.3 158.9 1163.8 153 1162 152.3 1161.8 150.2 1159.5 134.7Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M714.7 441.4L745.1 467 746.3 477.9 726.3 492 716 487.4 702.5 450C702.3 449.6 702.3 449.6 702 449.2 701.4 448.4 700.5 447.9 699 448.3 697.9 449.2 697.4 450.1 697.8 451.6L709.7 484.3 694.1 477.1 688.6 462.7C688.6 462.7 688.4 462.3 688.4 462.3 687.8 461.5 686.9 461 685.4 461.5 684.3 461.6 683.7 463.2 684.2 464.7L687.3 474.2 675.9 468.8C674.9 468.3 673.5 468.7 672.6 469.9S672.8 472.7 674 473.6L685.2 478.6 676 482.2C674.5 482.7 673.9 484.3 674.3 485.7 674.9 486.5 676.1 487.4 677.5 487L691.9 481.5 707.8 489.1 675.1 501C673.7 501.5 673 503.1 673.2 504.1 674 505.3 675.2 506.2 676.7 505.8L713.9 491.9 724.4 496.8 726.5 520.6 717.1 527.2 677.9 520.8C676.6 520.6 675.4 521.4 675.1 522.7S675.7 525.2 677.1 525.5L711.6 531.1 697.1 541.3 682.4 538.8C681 538.5 679.8 539.4 679.2 541S679.8 543.5 681.2 543.7L691.6 545.2 681 552.7C679.8 553.5 679.9 555.2 680.7 556.4 681.5 557.6 682.8 557.8 684 557L694.6 549.5 692.9 559.5C692.3 561.2 693.1 562.3 694.8 562.3 696.2 562.5 697.3 561.7 697.6 560.4L700.1 545.6 714.6 535.4 708.3 569.8C708.1 571.1 709.2 572.7 710.5 572.9S713.1 572.3 713.3 571L720.1 531.5 729.5 524.9 751.5 535.3 752.3 546.4 726.8 576.8C725.9 578 726.3 579.5 727.1 580.6 728.3 581.5 729.8 581.1 731 580.3L753.2 553.5 754.7 570.6 744.7 582.3C743.8 583.5 744.3 585 745.1 586.2 746.1 586.7 747.8 586.6 748.7 585.4L755.2 577.9 756.4 590.5C756.6 591.6 757.8 592.5 759.1 592.7 760.6 592.3 761.5 591.1 761.3 590L760.1 577.4 768.2 584C769.2 584.5 770.9 584.4 771.4 583.5 772.6 582.6 772.4 581.6 771.6 580.4 771.6 580.4 771.3 580 771.3 580L759.6 570.1 758.1 552.9 784.9 575.1C786.1 576 787.5 576.3 788.4 575 789.3 573.8 789.1 572.8 788.6 572 788.3 571.6 788.3 571.6 788.3 571.6L757.2 545.9 756.4 534.7 776.4 520.6 786.3 525.4 800.4 563C800.6 564.1 802.2 564.7 803.3 564.5 804.7 564.1 805.4 562.5 804.9 561L793 528.3 808.6 535.5 814.1 549.9C814.5 551.3 815.7 552.2 816.9 551.4 818.4 551 819 549.3 818.8 548.3L815 538.7 826.5 544.1C827.8 544.3 829.2 543.9 830.1 542.7 830.3 542 830.1 540.9 829.5 540.1 829.3 539.8 829.3 539.8 828.6 539.6L817.1 534.2 826.8 530.4C828.2 529.9 828.4 528.6 828.3 527.5 828 527.1 828 527.1 827.7 526.7 827.2 526 826.2 525.4 825.2 525.6L810.8 531 795.2 523.9 827.9 512C829.1 511.1 830 509.9 829.1 508.7 829.2 508.1 829.2 508.1 829 507.7 828.4 506.9 827.1 506.7 826 506.8L788.4 521 778.6 516.2 776.2 492 785.2 485.6 824.7 492.5C826 492.7 827.6 491.6 827.8 490.3S827 487.3 825.6 487.1L791.1 481.5 805.3 471.5 820.4 473.8C821.7 474 822.9 473.2 823.1 471.9 823.3 470.5 822.5 469.3 821.2 469.1L811.1 467.4 821.7 459.9C822.5 459.4 823.1 457.7 822.3 456.6 821.5 455.4 819.5 455 818.7 455.6L808.1 463.1 809.8 453C809.9 452.4 810.1 451.7 809.8 451.3 809.2 450.5 808.6 450.4 807.9 450.3 806.6 450.1 805.4 450.9 805.2 452.2L802.2 467.2 788.1 477.2 794.4 442.8C794.5 442.1 794.2 441.7 793.7 440.9 793.4 440.5 793.1 440.1 792.4 440 791.1 439.8 789.5 440.9 789.3 442.2L782.2 481.3 773.2 487.7 751.5 477.7 750 466.4 776 435.8C776.5 434.9 776.7 433.5 776.1 432.7 775.9 432.3 775.9 432.3 775.5 432.6 774.6 431.4 772.9 431.5 772 432.7L749.8 459.5 748 442 758 430.3C758.5 429.3 758.3 428.3 757.8 427.5 757.8 427.5 757.5 427.1 757.5 427.1 756.7 425.9 754.9 426 754 427.2L747.4 435.3 746.2 422.7C746.3 422.1 746 421.7 745.8 421.3 745.2 420.5 744.3 420 743.9 420.3 742.1 420.3 741.2 421.5 741 422.9L742.3 435.5 734.8 429C733.5 428.1 731.8 428.2 730.9 429.4 730.4 430.3 730.4 432.1 731.4 432.6L743.1 442.5 744.6 459.7 717.8 437.4C716.6 436.5 715.1 437 714 437.8 713.4 438.8 713.5 440.5 714.7 441.4ZM731.7 494.6L747 483.8 749.3 482.2 751.9 483.3 768.5 491 771.3 492.5 771.5 495.3 773.2 513.5 773.4 516.3 771 518 755.7 528.7 753.4 530.4 750.8 529.3 734.2 521.6 731.7 520.5 731.2 517.3 729.5 499.1 729.3 496.3 731.7 494.6Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M374.9 287.4L420.3 264 438 270.1 422.6 277.9C420.8 278.3 420.5 280.3 420.9 282.2 421.8 283.3 424 284.2 425.1 283.3L446.4 272.9 463.9 278.3 450.2 290.4 426.3 288.9C426.3 288.9 425.7 289.1 425.7 289.1 424.4 289.3 423.4 290.8 423.1 292.2 423.5 294.1 424.3 295.2 426.4 295.4L443.6 296.4 429.8 308.5 378.9 306.2C378.9 306.2 378.2 305.7 378.2 305.7 376.9 305.9 375.9 307.5 375.6 308.8 375.3 310.9 377 312.5 378.9 312.1L423.2 314.4 406.8 329.7 387 328.7C387 328.7 387 328.7 386.3 328.8 385.1 329.1 384 330 383.6 331.3 384 333.2 385 335 387 335.2L400.2 335.7 388.2 346.7C386.4 347.8 386.8 349.6 387.7 350.8 388.7 352.5 390.8 352.7 392.4 351.1L404.5 340.6 403.3 353.3C403.7 355.2 404.7 357 406.6 356.6 408.6 356.8 409.7 355.9 410 353.9L411 334 427.5 319.4 425.3 364.4C424.9 365.8 426.6 367.4 428.6 367.6 429.8 367.3 431.6 366.3 431.8 364.3L434.1 313.4 447.9 301.3 447 318.6C446.7 320.6 448.3 321.5 450.3 321.8 451.7 322.1 453.3 320.5 453.6 319.1L454.5 295.4 468.1 282.7 472 300.8 459.2 320.5C458.2 322.1 458.6 323.9 460.1 324.9 461 326 463.5 325.5 464.5 324L473.8 309.6 477.7 327.7 449.5 370.4C448.5 371.9 448.9 373.8 450.4 374.7 451.9 375.7 453.8 375.3 454.8 373.8L479.6 336.5 484.1 357.8 473.2 374.5C472.2 376 472.6 377.9 474.2 378.9 475.7 379.8 477.6 379.4 478.5 377.9L486.1 367.2 489.4 382.8C489.8 384.7 491.3 385.7 493.2 385.3 495.1 384.9 496.1 383.4 495.7 381.5L492.3 365.8 503 372.7C504.5 373.7 506.4 373.3 507.3 371.8S507.9 368.4 506.4 367.4L490.5 357.1 485.8 335.2 523 359.3C524.5 360.3 526.4 359.9 527.4 358.4 528.4 356.9 528 355 526.5 354L484 326.4 480.1 308.2 494.5 317.6C496 318.6 497.9 318.2 498.9 316.7 499.9 315.2 499.5 313.3 498 312.3L478.2 299.5 474.5 282 491.4 287.5 502.5 308.7C503.3 309.9 505.5 310.7 506.6 309.8 508.4 308.8 508.7 307.4 508.3 305.5L500.5 290.2 517.4 295.8 540.7 341.2C541.8 342.9 543.2 343.3 545 342.9 546.8 341.9 547 339.8 546.7 338.6L526.4 298.4 547.6 305.7 556.5 322.8C556.9 324.7 558.9 324.9 560.8 324.5 561.9 323.6 562.7 321.5 561.7 319.7L556.1 308.5 571.4 313.1C572.9 314.1 574.7 313 575.5 310.9 575.9 309.5 574.9 307.8 573.5 307.4L558 302.2 569.8 296.4C571.6 295.4 571.8 293.4 570.9 292.2 570.5 290.4 569.1 290 567.9 290.3 567.3 290.4 567.3 290.4 566.6 290.5L549.5 299.4 528.4 292.1 567.9 271.9C569.8 271.5 570 269.5 569.6 267.7 568.7 266.5 567.4 266.2 566.1 266.4 565.5 266.6 565.5 266.6 565.5 266.6L519.3 289.5 502.4 283.9 517.8 276C519.5 275 519.9 273.6 519.5 271.8 518.6 270.6 517.1 269.7 515.8 269.9 515.2 270.1 515.2 270.1 514.6 270.2L493.3 281.2 476.5 275.7 489.6 263.7 513.4 264.6C515.4 264.8 517 263.1 517.3 261.7 516.9 259.9 515.9 258.1 514 258.5L496.8 257.6 509.9 245 561.5 247.8C562.9 248.2 564.5 246.5 564.9 245.1 564.5 243.2 563.4 241.5 561.4 241.3L517.1 238.9 533.6 224.3 552.8 225.4C554.8 225.7 556.4 224 556 222.1 556.4 220.7 555.4 219 553.4 218.8L540.2 218.3 552.2 207.2C553.4 206.3 553.6 204.3 552.6 202.6 551.8 202.1 550.4 201.7 549.2 202 549.2 202 548.5 202.1 547.9 202.3L535.9 213.3 536.3 200.1C536.7 198.8 535 197.1 533.7 196.8 533 196.9 533 196.9 533 196.9 531.2 197.3 530.2 198.8 530.4 200.1L529.3 219.3 512.9 234.6 515.1 189.6C514.7 187.7 513.8 186.6 511.8 186.4 511.8 186.4 511.2 186.5 511.2 186.5 509.9 186.8 508.8 187.7 508.6 189.7L505.7 240.7 492.5 252.6 493.4 235.4C493 233.5 492 231.8 490.1 232.2 490 231.6 489.4 231.7 489.4 231.7 488.1 232 487.1 233.5 486.8 234.9L485.9 258.6 472.1 270.7 468.4 253.2 481.2 233.4C482.2 231.9 481.7 229.4 480.2 228.4 478.8 228.1 476.9 228.5 475.8 229.3L466.6 244.4 462.7 226.2 490.3 183.7C491.3 182.2 490.9 180.3 489.4 179.4 487.9 178.4 486 178.8 485 180.3L460.8 217.5 456.2 195.6 466.6 179.6C467.5 178.1 467.1 176.2 465.6 175.2S462.2 174.6 461.2 176.2L454.3 186.8 451 171.1C450.6 169.3 449.1 168.3 447.2 168.7 445.3 169.1 444.4 170.6 444.8 172.5L448.1 188.1 436.8 181.3C436.1 180.9 435.3 180.4 434.7 180.5 434.1 180.6 432.9 181.5 432.4 182.3 431.5 183.8 431.9 185.7 433.4 186.7L449.9 196.9 454.6 218.8 416.8 194.8C416 194.3 415.3 193.8 414.6 193.9 414 194 412.9 194.9 412.4 195.7 411.4 197.2 411.8 199.1 413.3 200.1L456.4 227.6 460.3 245.7 445.7 235.7C445 235.2 443.7 235.5 443.1 235.6 442.5 235.8 441.9 235.9 441.4 236.7 440.4 238.2 440.9 240.7 442.3 241L462.2 254.5 465.9 272 448.4 266.6 437.9 245.2C437.1 244.1 435.5 243.1 434.3 243.4 433.7 243.5 433.7 243.5 433.8 244.1 431.9 244.5 431.1 246.7 432.1 248.4L439.9 263.8 422.4 258.3 399.5 212.2C398.6 211 397.3 210.7 396 210.9 395.4 211.1 395.4 211.1 395.4 211.1 393.6 212.1 392.6 213.6 393.7 215.4L414 255.5 392.8 248.3 383.9 231.2C382.9 229.4 381.5 229.1 380.3 229.3 380.3 229.3 379.6 229.5 379.6 229.5 377.9 230.5 377.7 232.5 377.9 233.8L384.4 245.5 368.9 240.3C368.2 240.4 367.6 240.5 367 240.7 366.3 240.8 365.2 241.7 364.7 242.4 364.5 244.5 364.9 246.3 366.9 246.6L382.4 251.8 370.6 257.6C368.8 258.6 368.6 260.6 368.9 261.8 369.9 263.6 371.9 263.8 373.8 263.4L390.9 254.6 411.9 261.2 372.3 281.4C370.6 282.4 369.7 284.6 370.6 285.7 371.7 287.4 373.2 288.4 374.9 287.4Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M964.6 473.2L971.1 459.6 977.1 467.7C977.7 468.6 979.2 469 980.6 468.4 981.4 467.3 981.8 465.8 981.2 464.9L973.4 454.1 979.5 441.5 995.1 463.6C996.2 465 997.6 465.3 998.5 464.3 999.9 463.7 1000.2 462.2 999.1 460.8L981.9 436.4 987.1 424.8 1016.2 422.1 1022.9 431.1 1009.2 459.9C1009.2 460.4 1009.3 460.9 1009.3 461.3 1009.4 461.8 1009.9 462.7 1010.4 463.2 1012 464 1013.4 463.4 1013.7 461.9L1026.2 435.6 1034 447 1028 460.5C1027.6 460.6 1027.6 461.1 1027.7 461.5 1027.7 462.5 1028.3 463.4 1029.3 463.8 1030.3 464.2 1031.7 463.6 1032.6 462.5L1037.3 451.5 1047.3 465.5C1047.9 466.4 1049.4 466.7 1050.7 466.1 1051.6 465.1 1051.9 463.6 1051.4 462.7L1042 449.6 1052 448.6C1053.4 448.5 1054.2 447 1054.2 446 1054 444.6 1052.9 443.3 1051.5 443.4L1038.6 444.6 1030.8 433.3 1057.5 430.8C1059 430.6 1059.8 429.6 1059.7 428.2 1059.6 426.7 1058.5 425.9 1057.1 426L1027.5 428.8 1020.3 419.3 1032.8 392.6 1043.7 391.6 1061.5 416.4C1062.1 417.8 1064.1 418.1 1064.9 417.1 1066.3 416.4 1066.2 415 1065.6 413.6L1049.5 391 1063.3 389.7 1071.2 401.1C1071.7 402 1073.7 402.3 1074.6 401.7S1075.8 399.2 1075.2 397.8L1069.1 389.2 1085.8 387.6C1087.2 387.5 1088.1 386 1087.9 384.5 1087.8 383.6 1086.7 382.2 1085.3 382.4L1068.6 383.9 1072.9 373.9C1073.3 372.9 1073.2 371.5 1071.7 370.6 1070.7 370.2 1068.8 370.9 1068.4 371.9L1062.8 384.5 1049 385.8 1060.6 360.6C1060.9 359.1 1060.8 357.7 1059.3 356.8 1058.3 356.5 1056.4 357.1 1056 358.1L1043.3 386.3 1032.3 387.3 1015.1 363.4 1020.3 352.8 1050 350C1051.4 349.9 1052.3 348.8 1052.1 347.4 1052 346 1050.9 344.6 1049.5 344.8L1022.7 347.3 1028.3 334.7 1041.2 333.5C1042.6 333.3 1043.5 332.3 1043.4 330.9 1043.2 329.4 1042.2 328.6 1040.7 328.7L1030.7 329.6 1037.5 315C1037.9 314 1037.3 312.1 1036.3 311.8 1034.8 311.4 1033.3 311.6 1033 313L1025.7 328.2 1019.1 318.7C1018 317.8 1016.5 317.5 1015.6 318 1014.7 318.6 1014.3 319.6 1014.4 320.6 1014.4 320.6 1014.5 321 1015 321.5L1023.4 333.7 1017.8 346.3 1000.7 322.8C1000 321.4 998.6 321.1 997.2 322.2 996.8 322.7 996.4 323.2 996.4 324.2 996.5 324.7 996.5 325.1 996.6 325.6L1015.4 351.3 1010.5 361.4 981.4 364.2 974.1 353.7 986.5 326.5C987.4 325 986.8 323.6 985.3 323.3 984.2 322.4 982.8 323 982 324.6L970.8 349.2 962.5 338 968.2 325.9C968.5 324.9 967.9 323.5 966.9 322.6 965.4 322.3 964 322.4 963.6 323.9L959.2 333 950.3 320.8C949.7 319.4 948.3 319.5 946.9 320.1 946.5 320.7 946.1 321.7 946.2 322.6 946.2 322.6 946.2 323.1 946.2 323.6L955.7 336.7 943.7 337.8C942.8 337.9 941.4 339 941.6 340.4 941.7 341.8 943.2 342.7 944.2 342.6L959 341.2 967.3 352.5 938.1 355.2C936.7 355.3 935.9 356.9 936 358.3S937.2 360.6 938.6 360.5L970.6 357.5 977.3 366.9 964.9 393.7 952.5 394.8 934.6 369.5C933.6 368.6 932.1 368.3 930.7 368.9 930.3 369.4 929.9 370.4 930 371.4 930 371.9 930.1 372.3 930.6 372.8L946.7 395.4 932.9 396.7 924.6 385.4C924 384.5 922.5 384.1 921.1 384.8 920.3 385.8 919.9 387.3 920.5 388.2L927.1 397.2 911.8 398.6C910.9 398.7 909.6 400.3 909.7 401.3 909.8 402.7 911.4 404 912.3 403.9L927.6 402.5 922.7 412.1C922.8 412.6 922.8 413 922.9 413.5 923 414.5 923.5 415.4 924 415.8 925.5 416.2 926.9 415.5 927.8 414.5L933.4 401.9 947.2 400.6 935.6 425.8C934.8 427.3 935.4 428.7 936.4 429.1 937.9 429.9 939.3 429.3 940.2 428.3L952.9 400.1 965.4 398.9 982.6 422.9 977.8 433.4 945.7 436.4C944.3 436.6 943.4 437.6 943.6 439.1 943.7 440.5 944.8 441.4 946.2 441.2L975.3 438.5 969.3 451.1 954.5 452.5C953.5 452.6 952.2 454.2 952.4 455.6 952.5 457 954 457.8 955 457.8L966.9 456.6 960.1 471.3C960.1 471.7 960.1 471.7 960.2 472.2 960.3 473.2 960.8 474.1 961.4 474.5 962.9 474.9 964.2 474.2 964.6 473.2ZM971.1 398.4L969.4 395.7 970.6 393.1 980.6 371.5 981.8 368.9 984.7 368.7 1008.1 366.5 1011 366.2 1012.7 368.5 1026.5 387.9 1028.2 390.1 1027 393.1 1017 414.3 1015.8 417.3 1012.9 417.6 989.5 419.8 986.6 420.1 984.9 417.3 971.1 398.4Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M117.3 274.2L104.7 297.5 82 304.2 87.6 281.2 110.3 267.5C110.3 267.5 110.5 267.3 110.5 267.3 111 266.8 111 265.9 110.7 265.3 110.2 264.4 109.1 264.2 108.4 264.9L88.6 276.9 91.3 265.7 100 260.3C100 260.3 100.2 260.1 100.2 260.1 100.6 259.6 100.6 258.7 100.4 258 99.9 257.1 98.7 256.9 98.1 257.6L92.1 261.2 94.1 253C94.3 252.3 93.6 251.2 92.9 251 92 250.5 91.1 251.5 90.9 252.2L88.9 260.4 85.3 254.3C84.9 253.4 83.7 253.2 83.1 253.9 82.2 254.4 82 255.5 82.7 256.2L88.1 264.9 85.2 275.8 73.1 256C72.7 255.1 71.5 254.9 70.9 255.6 70 256.1 69.8 257.2 70.5 257.9L84.1 280.6 78.6 303.6 61.2 287 60.6 260.4C60.6 259.4 59.9 258.8 59 258.8 58 258.8 57.4 259.5 57.4 260.4L58 284 49.6 276 49.4 266.1C49.4 265.1 48.7 264.5 47.8 264.5 46.9 264.5 46.2 265.2 46.2 266.1L46.4 272.9 39.9 266.7C39.4 265.8 38.3 266.1 37.6 266.8 37 267.5 37 268.4 37.7 269L43.7 274.8 36.9 274.9C36 275 35.4 275.7 35.4 276.6S36.1 278.1 37 278.1L47 277.9 55.3 285.8 31.8 286.4C30.9 286.4 30.2 287.1 30.2 288 30.2 288.9 30.9 289.6 31.8 289.6L58.5 288.9 75.7 305.3 53 311.9 30.3 299.6C29.4 299.1 28.5 299.6 27.8 300.3 27.4 301.2 27.8 302.1 28.5 302.8L48.9 313.8 37.9 317 29 312C28.1 311.6 27.2 312.1 26.5 312.8 26.1 313.7 26.6 314.6 27 315L33.2 318.3 25.1 320.7C24.4 321 23.6 321.9 24 322.8 24.5 323.7 25.2 324.3 26.1 323.9L34.2 321.4 30.9 327.6C30.5 328.5 31 329.4 31.5 329.9 32.1 330.1 33 330 33.5 329.6 33.5 329.6 33.7 329.3 33.7 329.3L38.7 320.4 49.7 317.2 38.7 337.6C38.2 338.5 38.7 339.4 39.2 339.9 39.8 340.1 40.7 340 41.2 339.6 41.2 339.6 41.4 339.3 41.4 339.3L54 316 76.7 309.3 71.1 332.3 48.4 346C47.5 346.4 47.3 347.6 48 348.2 48.4 349.1 49.6 349.3 50.2 348.6L70.1 336.6 67.4 347.8 58.7 353.2C57.8 353.7 57.6 354.8 58.3 355.5 58.8 356.4 59.9 356.6 60.6 355.9L66.6 352.3 64.6 360.5C64.3 361.2 65 362.3 65.7 362.5 66.4 362.7 67.1 362.5 67.5 362 67.8 361.8 68 361.6 68 361.1L70 352.9 73.6 359C74 359.8 75.2 360 75.8 359.3 75.8 359.3 76.1 359.1 76.1 359.1 76.5 358.7 76.5 357.7 76.2 357.1L70.8 348.4 73.5 337.2 85.5 357.1C86 358 87.1 358.2 87.8 357.5 87.8 357.5 88 357.2 88 357.2 88.5 356.8 88.4 355.9 88.2 355.2L74.5 332.4 80.1 309.5 97.2 325.8 97.9 352.5C97.9 353.4 98.6 354.1 99.5 354 100.4 354 101 353.3 101 352.4L100.7 329.1 109 337.1 109.3 347C109.3 347.9 110 348.6 110.9 348.6S112.5 347.8 112.4 346.9L112.3 340.1 118.3 345.9C119 346.5 119.9 346.5 120.6 345.8 121.2 345.1 121.2 344.2 120.5 343.6L114.5 337.8 121.3 337.7C121.7 337.7 122.2 337.6 122.6 337.2S123 336.3 123 335.8C123 334.9 122.3 334.2 121.4 334.3L111.5 334.5 103.1 326.6 126.6 326C127.1 326 127.6 326 128 325.5 128.2 325.3 128.4 324.6 128.4 324.1 128.4 323.2 127.7 322.6 126.8 322.6L100.1 323.2 83 306.9 105.7 300.2 129 312.8C129.7 313 130.6 313 131.1 312.5 131.1 312.5 131.3 312.3 131.3 312.3 131.7 311.4 131.3 310.5 130.8 310.1L110.4 299 121.4 295.8 130.3 300.8C131 301 131.9 301 132.4 300.5 132.4 300.5 132.6 300.3 132.6 300.3 133 299.4 132.6 298.5 132.1 298L125.9 294.8 134 292.3C134.2 292.1 134.7 292.1 134.9 291.8 135.3 291.4 135.5 290.7 135.3 290 134.8 289.1 134.1 288.5 133.2 288.9L125.1 291.4 128.4 285.2C128.8 284.3 128.3 283.4 127.9 283 127 282.5 126.1 283 125.6 283.5L120.6 292.4 109.6 295.6 120.7 275.2C121.1 274.3 120.6 273.4 120.2 273 118.8 273 117.7 273.2 117.3 274.2Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3cpath d='M493.2 458.7L509.7 479.5 506.9 503 488 488.8 484.4 462.5C484.4 462.5 484.3 462.2 484.3 462.2 484 461.6 483.2 461.3 482.5 461.2 481.5 461.3 480.8 462.3 481.2 463.1L484.4 486.1 475.2 479.3 473.7 469.1C473.7 469.1 473.5 468.8 473.5 468.8 473.3 468.3 472.5 467.9 471.7 467.9 470.7 468 470.1 468.9 470.5 469.8L471.3 476.7 464.6 471.6C464.1 471.1 462.8 471.3 462.3 471.9 461.6 472.6 462.1 473.7 462.6 474.2L469.3 479.3 462.4 480.2C461.4 480.3 460.8 481.3 461.1 482.1 461.2 483.2 462.2 483.8 463.1 483.4L473.2 481.9 482.1 488.9 459.1 492.1C458.1 492.1 457.5 493.1 457.8 494 457.9 495 458.9 495.6 459.8 495.3L486.1 491.7 505 505.9 482.9 515.3 458.1 505.3C457.3 505 456.4 505.4 456.1 506.2 455.7 507.1 456.1 507.9 457 508.3L478.8 517.1 468.2 521.6 459 517.9C458.1 517.5 457.2 517.9 456.9 518.7 456.6 519.6 456.9 520.5 457.8 520.8L464.1 523.3 455.8 526.8C454.8 526.9 454.6 528.1 455 528.9 455.4 529.8 456.2 530.2 457.1 529.8L464.7 526.5 462.2 532.8C461.9 533.7 462.2 534.5 463.1 534.9S464.8 534.8 465.1 534L468.9 524.8 479.5 520.2 470.7 542.1C470.3 542.9 470.7 543.8 471.6 544.1 472.4 544.5 473.3 544.1 473.6 543.3L483.6 518.5 505.4 509.2 502.5 532.7 482.2 548.7C481.4 549.3 481.5 550.3 481.9 551.2 482.6 552 483.6 551.9 484.4 551.5L502.7 537.1 501.3 548.5 493.1 554.8C492.4 555.4 492.5 556.5 492.8 557.3 493.5 558.1 494.5 558 495.1 557.8L500.5 553.4 499.6 561.8C499.5 562.5 500 563.7 501.1 563.6 502.1 563.5 503 563.1 502.9 562.1L503.8 553.7 508.2 559.1C508.9 559.9 509.9 559.8 510.5 559.6 510.9 559 511.3 558.2 511 557.6 511 557.6 510.9 557.3 510.9 557.3L504.7 549.2 506.1 537.8 520.4 556C521.1 556.8 522.1 556.7 522.7 556.4 523.2 555.9 523.5 555 523.3 554.5 523.3 554.5 523.1 554.2 523.1 554.2L506.6 533.4 509.5 509.9 528.4 524.1 532 550.4C532 551.4 533 552 533.9 551.7 534.9 551.6 535.5 550.6 535.2 549.7L532 526.7 541.2 533.6 542.7 543.7C542.8 544.7 543.7 545.4 544.6 545 545.6 544.9 546.3 543.9 545.9 543.1L545 536.1 551.7 541.3C552.3 541.7 553.6 541.5 554 541 554.5 540.4 554.6 539.7 554.3 539.1 554.2 538.8 554 538.5 553.6 538.4L546.9 533.2 553.9 532.4C554.9 532.3 555.5 531.3 555.1 530.4 555.1 530.4 555 530.1 555 530.1 554.7 529.6 553.9 529.2 553.2 529.2L543.1 530.7 533.9 523.8 556.9 520.6C557.9 520.6 558.5 519.6 558.1 518.7 558.1 518.7 558 518.4 558 518.4 557.7 517.8 556.9 517.5 556.2 517.5L529.9 521 511 506.8 532.7 497.5 557.5 507.5C558.4 507.8 559.2 507.5 559.6 506.6 559.9 505.8 559.5 504.9 558.7 504.6L537.2 495.7 547.8 491.1 557 494.8C557.8 495.2 558.7 494.8 559 494S559 492.2 558.2 491.9L551.9 489.4 559.5 486.1C560.4 485.7 560.7 484.9 560.4 484 560 483.1 559.2 482.8 558.3 483.2L550.6 486.4 553.2 480.1C553.3 479.7 553.5 479.3 553.2 478.7S552.6 477.9 552.1 477.8C551.3 477.4 550.4 477.8 550.1 478.7L546.4 487.9 535.8 492.4 544.6 470.6C544.7 470.2 544.9 469.7 544.6 469.2 544.5 468.9 544 468.4 543.6 468.2 542.7 467.9 541.8 468.3 541.5 469.1L531.5 493.9 509.7 503.2 512.6 479.7 533.4 463.2C533.9 462.6 534.2 461.8 533.9 461.2 533.9 461.2 533.8 460.9 533.8 460.9 533.1 460.1 532.1 460.2 531.5 460.5L513.3 474.8 514.7 463.5 522.9 457.2C523.3 456.7 523.7 455.8 523.4 455.2 523.4 455.2 523.3 455 523.3 455 522.6 454.2 521.6 454.3 521 454.5L515.6 458.9 516.5 450.5C516.4 450.2 516.6 449.8 516.4 449.5 516.2 448.9 515.6 448.5 514.9 448.4 513.9 448.5 513 448.9 513.1 449.9L512.2 458.3 507.8 452.9C507.1 452.1 506.1 452.2 505.5 452.4 504.8 453.1 504.8 454.1 505.1 454.7L511.3 462.8 509.9 474.2 495.5 456C494.9 455.2 493.9 455.3 493.3 455.6 492.8 456.8 492.6 458 493.2 458.7Z' fill='rgba(51%2c 121%2c 194%2c 0.58)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1206'%3e%3crect width='1440' height='553' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1207'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 0.88)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3cfilter id='SvgjsFilter1208'%3e%3cfeGaussianBlur stdDeviation='1'%3e%3c/feGaussianBlur%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");

  /*  background-image: url("../img/FondoBari.jpg");
 */

  background-color: var(--shadow-4);
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  --webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}

.formulario-login {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */

  /* From https://css.glass */
  background: rgba(238, 239, 247, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  /* color:white; */
  text-align: center;
  width: 40%;
  height: 60%;
  font-family: rubik, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formulario-login h2 {
  padding: 5%;
  /* color:white; */
}

input[type="submit"] {
  outline: none;
  border: none;
  background-color: #0a7bc7;
  /* color:white; */
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/*  @media screen and (max-width: 400px) {
    .selectorDelContainer {
        display: flex;
        flex-direction: column;
  }  
} 
 */
