<div id="experiencia"></div>

<section class="experiencia ">
  <div class="container d-flex flex-column ">
    <h2 class="experiencia-title text-center "> Experiencia</h2>
    <div *ngFor="let experiencia of miPortfolio" class="experiencia-cont row   d-flex justify-content-center">
      <i class="fa-solid fa-shop fa-4x"></i>
      <div class="experiencia-info d-flex flex-column col-12">
        <h3 *ngIf="miPortfolio">{{experiencia.puesto}}</h3><br>
        <h5 *ngIf="miPortfolio">{{experiencia.fecha}}</h5>
        <p *ngIf="miPortfolio">{{experiencia.descripcion}}</p>
      </div>
    </div>
  </div>
</section>