<div id="acerca-de-mi"></div>

<section class="presentacion">
    <div class="container-fluid div-profile row d-flex flex-column flex-md-row">
      <div class="div-img-profile col-12 col-md-4 d-flex justify-content-center">
      <img *ngIf="miPortfolio"
        [src]="miPortfolio.acercaDeMi.fotoPerfil"
        alt="fotoPerfil"
        class="fotoperfil rounded-circle img-fluid perfil"
      />
      </div>

<!-- Acerca de mi -->
      <div class="container text-center row d-flex justify-content-center col-12 col-md-8">
          <div class="col-12 text-center div-p">
            <p *ngIf="miPortfolio" >{{miPortfolio.acercaDeMi.sobremi}}
            </p>
          </div>
        </div>
      </div>
  </section>