<nav class="navbar navbar-expand-lg navbar-dark bg-celeste scrolling-navbar fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"  target="_blank">
        <img  src="./assets/img/argentina.png"  alt="Logo" class="w-85"/><!-- letra-blanca aca esta por si quiero cambiar la letra del logo,sino pongo esta letra-blanca -->
      </a>
      <label for="menuhamb"><i class="fa-solid fa-bars"></i></label>
      <input class="navbar-toggler icon-tog" id="menuhamb" type="checkbox" name="menuhamb">    
  <!-- menu colapsable -->
      <div class="collapse navbar-collapse  div-sube-baja" id="menu">
        <ul class="navbar-nav d-flex align-items-center justify-content-center">
  
          <li class="nav-item" >
            <a  class="nav-link active" aria-current="page" (click)="toAcercademi()" >Acerca de mi</a>
          </li>
  
          <li class="nav-item">
            <a  class="nav-link active" aria-current="page" (click)="toExperiencia()"  >Experiencia</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="toEducacion()">Educacion</a>
          </li>
  
          <li  class="nav-item">
            <a  class="nav-link active" aria-current="page" (click)="toHabilidadestecnicas()"  >Habilidades técnicas</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="toProyectos()" >Proyectos</a>
          </li>
  
          <li  class="nav-item"> 
            <a class="nav-link active" aria-current="page" (click)="toRedes()" >Redes</a>
          </li>
          <li class="nav-item-drop nav-item">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../../assets/img/FB_IMG_1428285724958.jpg" alt="My new logo">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a (click)="onSignOut()" class="dropdown-item" ><i class="fa-solid fa-arrow-right-to-bracket"></i>Cerrar Sesion</a></li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </div>
           <!-- boton que envia a el login -->
           <!--<a routerLink="/login"><i class="fa-solid fa-user-lock text-white"></i></a>
 -->       <!-- <a href="./login.html"> <i class="fa-solid fa-user-lock text-white"></i></a> -->
          </li>
          <!-- <li>
            
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- <app-banner></app-banner>
  <app-acerca-de-mi></app-acerca-de-mi>    
  <app-experiencia></app-experiencia>
  <app-educacion></app-educacion>
  <app-habilidade-tecnicas></app-habilidade-tecnicas>    
  <app-proyectos></app-proyectos>
  <app-footer></app-footer> -->
  