<div id="acerca-de-mi"></div>

<section class="presentacion">
    <div class="container-fluid div-profile row d-flex flex-column flex-md-row">
      <div class="div-img-profile col-12 col-md-4 d-flex justify-content-center">
        <img *ngIf="miPortfolio"
        [src]="miPortfolio.acercaDeMi.imagenPerfil" alt="fotoPerfil" class="fotoperfil rounded-circle img-fluid perfil"/>
      </div>  
<!-- Acerca de mi -->
      <div class="container text-center row d-flex justify-content-center col-12 col-md-8">
          <div class="col-12 text-center div-p">            
      <!-- Formulario edicion -->
        <div class="acercademi-edicion d-flex flex-column justify-content-center align-items-center">
          <label class="acercademi" for="efa-de-mi" >Editar<i class="fa-solid fa-pen"></i></label>
          <input name="efa-de-mi" id="efa-de-mi" class="form-a-de-mi" type="checkbox" checked>
          <form class="form-edicion" id="presentacion">
            <div class="form-div">
              <label for="fotoPerfil">Foto de perfil</label>
              <input type="imagen" id="fotoPerfil" name="fotoPerfil" placeholder="cargar url">
            </div>

            <div class="form-div">
              <label for="text-area">Descripcion</label>
              <textarea name="text-area" id="text-area" cols="30" rows="5" placeholder="Contanos un poco sobre vos" ></textarea>
            </div>

            <div class="button-aceptar text-center">
              <input type="submit" value="Aceptar">
            </div>
          </form>
        </div>
            <p  *ngIf="miPortfolio" >{{miPortfolio.acercaDeMi.sobremi}}
            </p>
          </div>
        </div>
      </div>
</section>