<div id="acerca-de-mi"></div>

<section class="presentacion">
  <div class="container-fluid div-profile row d-flex flex-column flex-md-row">
    <div class="div-img-profile col-12 col-md-4 d-flex justify-content-center">
      <img [src]="miPortfolio[0].fotoPerfil" alt="fotoPerfil" class="fotoperfil rounded-circle img-fluid perfil" />
    </div>
    <!-- Acerca de mi -->
    <div class="container text-center row d-flex justify-content-center col-12 col-md-8">
      <div class="col-12 text-center div-p">
        <!-- Formulario edicion -->
        <div class="acercademi-edicion d-flex flex-column justify-content-center align-items-center"
          *ngFor="let acercaDeMi of miPortfolio">
          <label class="acercademi" for="efa-de-mi" routerLink="/acercaDeMi/editar/{{acercaDeMi.id}}">Editar<i
              class="fa-solid fa-pen"></i></label>
          <div class="button-eliminar text-center">
            <a (click)="onDelete(acercaDeMi.id)"> Eliminar <i class="fa-solid fa-trash-can"></i> </a>
          </div>
        </div>
        <p>{{miPortfolio[0].sobreMi}}</p>
      </div>
    </div>
  </div>
</section>